studio-multiagente/workflows/agent_proposal.json
{
  "name": "agent_proposal",
  "_note": "Sincronizado el 2026-04-26 desde n8n id=Mqx8S6nR6exbRY86. Para version completa con jsCode embedded ver mcp__n8n__n8n_get_workflow.",
  "nodes": [
    { "id": "ap-00", "name": "Receive Project", "type": "n8n-nodes-base.executeWorkflowTrigger", "typeVersion": 1.1, "position": [0, 300], "parameters": { "inputSource": "passthrough" } },
    { "id": "709bb58e-7178-4e6d-af2e-aa1969a72759", "name": "Load Architect Email", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [120, 300], "parameters": { "operation": "executeQuery", "query": "SELECT value FROM system_config WHERE key = 'architect_email'", "options": {} }, "credentials": { "postgres": { "id": "cfxNZdzy0NB3xkYC", "name": "Postgres account" } } },
    { "id": "ap-01", "name": "Load Project + Client", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [250, 300], "credentials": { "postgres": { "id": "cfxNZdzy0NB3xkYC", "name": "Postgres account" } }, "parameters": { "operation": "executeQuery", "query": "SELECT p.id, p.name as project_name, p.project_type, p.budget_target, p.budget_flexible, p.location_address, p.location_city, p.location_province, p.property_type, p.property_area_m2, p.urgency, c.name as client_name, c.email as client_email, pii_decrypt(c.phone_enc) as client_phone, (SELECT json_build_object('id', b.id, 'version', b.version, 'summary', b.summary, 'objectives', b.objectives, 'client_needs', pii_decrypt(b.client_needs_enc)::jsonb, 'constraints', b.constraints, 'style_preferences', b.style_preferences, 'rooms_affected', b.rooms_affected, 'status', b.status) FROM briefings b WHERE b.project_id = p.id AND b.status = 'approved' ORDER BY b.created_at DESC LIMIT 1) as briefing, (SELECT row_to_json(d.*) FROM design_options d WHERE d.project_id = p.id AND d.is_selected = true LIMIT 1) as design_option, (SELECT row_to_json(ce.*) FROM cost_estimates ce WHERE ce.project_id = p.id ORDER BY ce.version DESC LIMIT 1) as cost_estimate, (SELECT json_agg(json_build_object('trade_type', tr.trade_type, 'scope_description', tr.scope_description) ORDER BY tr.trade_type) FROM trade_requests tr WHERE tr.project_id = p.id AND tr.status = 'prepared') as trade_assignments FROM projects p JOIN clients c ON c.id = p.client_id WHERE p.id = $1::uuid", "options": { "queryReplacement": "={{ [$('Receive Project').first().json.project_id] }}" } } },
    { "id": "ap-02", "name": "Preflight Check", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [500, 300], "parameters": { "jsCode": "const d=$input.first().json;\nconst miss=[];\nif(!d.briefing)miss.push('briefing aprobado');\nif(!d.design_option)miss.push('opcion de diseno seleccionada');\nif(!d.cost_estimate)miss.push('estimacion de costes');\nif(!d.trade_assignments||!d.trade_assignments.length)miss.push('asignacion de gremios');\nconst ok=miss.length===0;\nreturn[{json:{...d,preflight_passed:ok,missing_items:miss}}];" } },
    { "id": "ap-03", "name": "Data Ready?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [750, 300], "parameters": { "conditions": { "options": { "version": 2, "leftValue": "", "caseSensitive": false, "typeValidation": "strict" }, "conditions": [{ "id": "ap-cond-001", "leftValue": "={{ $json.preflight_passed }}", "operator": { "type": "boolean", "operation": "true", "singleValue": true } }], "combinator": "and" }, "options": {} } },
    { "id": "ap-04", "name": "Return Preflight Failed", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [750, 500], "parameters": { "assignments": { "assignments": [{ "id": "apf1", "name": "status", "value": "preflight_failed", "type": "string" }, { "id": "apf2", "name": "missing_items", "value": "={{ $json.missing_items }}", "type": "array" }] }, "options": {} } },
    { "id": "ap-load-prompt", "name": "Load Proposal Prompt", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [875, 200], "parameters": { "operation": "executeQuery", "query": "SELECT content FROM agent_prompts WHERE agent_name = 'agent_proposal' AND prompt_type = 'system' AND is_active = true LIMIT 1", "options": { "alwaysOutputData": true } }, "credentials": { "postgres": { "id": "cfxNZdzy0NB3xkYC", "name": "Postgres account" } } },
    { "id": "ap-05", "name": "Build Proposal Prompt", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1000, 300], "parameters": { "jsCode": "_see_n8n_for_full_jsCode_jscódigo_largo_para_construir_prompt_LLM_a_partir_de_briefing+design+cost_estimate+trades_" } },
    { "id": "ap-06", "name": "Call LLM", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [1250, 300], "parameters": { "workflowId": { "__rl": true, "value": "JoKqGZ8pDzhJohV2", "mode": "id" }, "workflowInputs": { "mappingMode": "defineBelow", "value": { "prompt_system": "={{ $json.prompt_system }}", "prompt_user": "={{ $json.prompt_user }}", "model": "={{ $json.model }}", "temperature": "={{ $json.temperature }}", "project_id": "={{ $json.project_id }}", "agent_name": "={{ $json.agent_name }}" }, "matchingColumns": [], "schema": [] }, "options": {} } },
    { "id": "ap-07", "name": "Parse Proposal Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1500, 300], "parameters": { "jsCode": "_see_n8n_for_full_jsCode_parser_que_extrae_JSON_del_texto_LLM_y_construye_row_para_save_draft_" } },
    { "id": "ap-08", "name": "Save Draft", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [1750, 300], "credentials": { "postgres": { "id": "cfxNZdzy0NB3xkYC", "name": "Postgres account" } }, "parameters": { "operation": "executeQuery", "query": "INSERT INTO proposals (project_id, version, title, executive_summary, scope_description, total_price, payment_conditions, estimated_duration, inclusions, exclusions, status, webhook_token) VALUES ($1::uuid, 1, $2, $3, $4, $5::numeric, $6, $7, $8::jsonb, $9::jsonb, 'pending_review', gen_random_uuid()::text) RETURNING id, webhook_token", "options": { "queryReplacement": "={{ [$('Load Project + Client').first().json.id, $json.title, $json.executive_summary, $json.scope_description, $json.total_price, $json.payment_conditions, $json.estimated_duration, $json.inclusions, $json.exclusions] }}" } } },
    { "id": "ap-09", "name": "Send Review Email", "type": "n8n-nodes-base.gmail", "typeVersion": 2.1, "position": [2000, 300], "credentials": { "gmailOAuth2": { "id": "cIma8ntTjZvIfU3H", "name": "damian2botella" } }, "parameters": { "sendTo": "={{ $('Load Architect Email').first().json.value }}", "subject": "=[ Revisión Propuesta ] {{ $('Load Project + Client').first().json.project_name }} — {{ $('Load Project + Client').first().json.client_name }}", "message": "=_see_n8n_for_full_html_email_with_approve_reject_buttons_resumeWebhookUrl_y_token_", "options": { "bodyType": "html" } } },
    { "id": "ap-10", "name": "Wait Architect Approval", "type": "n8n-nodes-base.wait", "typeVersion": 1.1, "position": [2250, 300], "parameters": { "resume": "webhook", "options": {} }, "webhookId": "ap-wait-proposal" },
    { "id": "ap-11", "name": "Parse Decision", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2500, 300], "parameters": { "jsCode": "const w=$input.first().json;\nconst saved=$('Save Draft').first().json;\nconst expectedToken=saved.webhook_token||'';\nconst receivedToken=(w.query&&w.query.token)||(w.body&&w.body.token)||w.token||'';\nconst tokenValid=!!expectedToken&&receivedToken===expectedToken;\nconst rawDecision=(w.query&&w.query.decision)||(w.body&&w.body.decision)||w.decision||'unknown';\nconst decision=tokenValid?rawDecision:'rejected';\nreturn[{json:{...w,decision:decision,approved:tokenValid&&decision==='approved',token_valid:tokenValid,project_id:$('Load Project + Client').first().json.id}}];" } },
    { "id": "ap-12", "name": "Architect Approved?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [2750, 300], "parameters": { "conditions": { "options": { "version": 2, "leftValue": "", "caseSensitive": false, "typeValidation": "strict" }, "conditions": [{ "id": "ap-cond-002", "leftValue": "={{ $json.approved }}", "operator": { "type": "boolean", "operation": "true", "singleValue": true } }], "combinator": "and" }, "options": {} } },
    { "id": "ap-13", "name": "Approve Proposal", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [3000, 200], "credentials": { "postgres": { "id": "cfxNZdzy0NB3xkYC", "name": "Postgres account" } }, "parameters": { "operation": "executeQuery", "query": "UPDATE proposals SET status = 'approved_internal' WHERE project_id = $1::uuid AND status = 'pending_review'", "options": { "queryReplacement": "={{ [$('Load Project + Client').first().json.id] }}" } } },
    { "id": "ap-14", "name": "Return Success", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [3250, 200], "parameters": { "assignments": { "assignments": [{ "id": "aps1", "name": "status", "value": "complete", "type": "string" }, { "id": "aps2", "name": "proposal_approved", "value": true, "type": "boolean" }, { "id": "aps3", "name": "project_id", "value": "={{ $('Load Project + Client').first().json.id }}", "type": "string" }] }, "options": {} } },
    { "id": "ap-15", "name": "Reject Proposal", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [3000, 400], "credentials": { "postgres": { "id": "cfxNZdzy0NB3xkYC", "name": "Postgres account" } }, "parameters": { "operation": "executeQuery", "query": "UPDATE proposals SET status = 'rejected' WHERE project_id = $1::uuid AND status = 'pending_review'", "options": { "queryReplacement": "={{ [$('Load Project + Client').first().json.id] }}" } } },
    { "id": "ap-16", "name": "Return Rejected", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [3250, 400], "parameters": { "assignments": { "assignments": [{ "id": "apr1", "name": "status", "value": "rejected", "type": "string" }, { "id": "apr2", "name": "proposal_approved", "value": false, "type": "boolean" }, { "id": "apr3", "name": "project_id", "value": "={{ $('Load Project + Client').first().json.id }}", "type": "string" }] }, "options": {} } }
  ],
  "connections": {
    "Receive Project":          { "main": [[{ "node": "Load Architect Email", "type": "main", "index": 0 }]] },
    "Load Architect Email":     { "main": [[{ "node": "Load Project + Client", "type": "main", "index": 0 }]] },
    "Load Project + Client":    { "main": [[{ "node": "Preflight Check",      "type": "main", "index": 0 }]] },
    "Preflight Check":          { "main": [[{ "node": "Data Ready?",          "type": "main", "index": 0 }]] },
    "Data Ready?":              { "main": [[{ "node": "Load Proposal Prompt", "type": "main", "index": 0 }], [{ "node": "Return Preflight Failed", "type": "main", "index": 0 }]] },
    "Load Proposal Prompt":     { "main": [[{ "node": "Build Proposal Prompt","type": "main", "index": 0 }]] },
    "Build Proposal Prompt":    { "main": [[{ "node": "Call LLM",             "type": "main", "index": 0 }]] },
    "Call LLM":                 { "main": [[{ "node": "Parse Proposal Response","type": "main", "index": 0 }]] },
    "Parse Proposal Response":  { "main": [[{ "node": "Save Draft",           "type": "main", "index": 0 }]] },
    "Save Draft":               { "main": [[{ "node": "Send Review Email",   "type": "main", "index": 0 }]] },
    "Send Review Email":        { "main": [[{ "node": "Wait Architect Approval","type": "main", "index": 0 }]] },
    "Wait Architect Approval":  { "main": [[{ "node": "Parse Decision",       "type": "main", "index": 0 }]] },
    "Parse Decision":           { "main": [[{ "node": "Architect Approved?",  "type": "main", "index": 0 }]] },
    "Architect Approved?":      { "main": [[{ "node": "Approve Proposal",     "type": "main", "index": 0 }], [{ "node": "Reject Proposal", "type": "main", "index": 0 }]] },
    "Approve Proposal":         { "main": [[{ "node": "Return Success",       "type": "main", "index": 0 }]] },
    "Reject Proposal":          { "main": [[{ "node": "Return Rejected",      "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
