studio-multiagente/workflows/agent_certificate_generator.json
{
  "name": "agent_certificate_generator",
  "nodes": [
    {
      "id": "cg-01",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -700,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "certificate-generate",
        "responseMode": "responseNode",
        "authentication": "headerAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ba643jvuElTgMawr",
          "name": "Webhook API Key (entrante)"
        }
      },
      "webhookId": "cg-trigger"
    },
    {
      "id": "cg-02",
      "name": "Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -460,
        300
      ],
      "parameters": {
        "jsCode": "const body = ($('Webhook').first().json.body) || {};\nconst types = ['cfo','certificado_habitabilidad','certificado_estructural','certificado_instalacion_electrica','certificado_instalacion_termica','informe_idoneidad','otros'];\nif (!body.project_id) return [{ json: { valid:false, error:'project_id obligatorio' } }];\nif (!body.certificate_type || !types.includes(body.certificate_type)) return [{ json: { valid:false, error:'certificate_type debe ser ' + types.join('|') } }];\nreturn [{ json: { valid:true, project_id: body.project_id, certificate_type: body.certificate_type, signer_name: body.signer_name || 'Damian Martinez', collegiate_no: body.collegiate_no || 'COAATM-XXXXX', scope: (body.scope || '').toString().slice(0, 5000), notes: (body.notes || '').toString().slice(0, 1000) } }];"
      }
    },
    {
      "id": "cg-03",
      "name": "Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -220,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "v1",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "cg-04",
      "name": "Load Architect Email",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        20,
        220
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT value FROM system_config WHERE key = 'architect_email'",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "cfxNZdzy0NB3xkYC",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "cg-05",
      "name": "Load Project + Client",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        260,
        220
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT json_build_object('project_id', p.id, 'project_name', p.name, 'property_area_m2', p.property_area_m2, 'location_address', p.location_address, 'location_city', p.location_city, 'location_province', p.location_province, 'client_name', c.name) AS data FROM projects p LEFT JOIN clients c ON c.id = p.client_id WHERE p.id = $1::uuid;",
        "options": {
          "queryReplacement": "={{ [ $('Validate').first().json.project_id ] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "cfxNZdzy0NB3xkYC",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "id": "cg-06",
      "name": "Load Template",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        500,
        220
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT title_template, body_template FROM certificate_templates WHERE certificate_type = $1 AND is_active = true ORDER BY version DESC LIMIT 1;",
        "options": {
          "queryReplacement": "={{ [ $('Validate').first().json.certificate_type ] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "cfxNZdzy0NB3xkYC",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "id": "cg-07",
      "name": "Build Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        220
      ],
      "parameters": {
        "jsCode": "const tpl = $input.first().json;\nconst projectRow = $('Load Project + Client').first().json.data || {};\nconst input = $('Validate').first().json;\nconst today = new Date().toLocaleDateString('es-ES', { day:'2-digit', month:'long', year:'numeric' });\nconst location = `${projectRow.location_address || ''}, ${projectRow.location_city || ''} (${projectRow.location_province || ''})`;\nconst vars = {\n  project_name: projectRow.project_name || '',\n  location_city: projectRow.location_city || '',\n  location: location,\n  property_area_m2: projectRow.property_area_m2 || '___',\n  today: today,\n  client_name: projectRow.client_name || '',\n  signer_name: input.signer_name,\n  collegiate_no: input.collegiate_no,\n  scope: input.scope || '(detallar)'\n};\nconst render = s => (s || '').replace(/\\{(\\w+)\\}/g, (m, k) => vars[k] !== undefined ? String(vars[k]) : m);\nlet title, body;\nif (tpl && tpl.title_template) {\n  title = render(tpl.title_template);\n  body  = render(tpl.body_template);\n} else {\n  title = 'Certificado tecnico — ' + vars.project_name;\n  body  = 'Plantilla no encontrada para tipo ' + input.certificate_type;\n}\nreturn [{ json: { title, body, project_id: input.project_id, project_name: vars.project_name, certificate_type: input.certificate_type, signer_name: input.signer_name, collegiate_no: input.collegiate_no } }];"
      }
    },
    {
      "id": "cg-08",
      "name": "Create Google Doc",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        980,
        220
      ],
      "parameters": {
        "operation": "create",
        "title": "={{ $json.title }}",
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root"
        }
      },
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "6NK9u2hvm1UUdoVu",
          "name": "Google Docs account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "cg-09",
      "name": "Insert Doc Body",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1220,
        220
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://docs.googleapis.com/v1/documents/{{ $json.id }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ requests: [{ insertText: { location: { index: 1 }, text: $('Build Content').first().json.body } }] }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "6NK9u2hvm1UUdoVu",
          "name": "Google Docs account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "cg-10",
      "name": "Insert Certificate Row",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1460,
        220
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO certificates (project_id, certificate_type, title, collegiate_no, signer_name, doc_url, doc_id, status)\nVALUES ($1::uuid, $2, $3, $4, $5, $6, $7, 'draft')\nRETURNING id, title, status, doc_url;",
        "options": {
          "queryReplacement": "={{ [ $('Build Content').first().json.project_id, $('Build Content').first().json.certificate_type, $('Build Content').first().json.title, $('Build Content').first().json.collegiate_no, $('Build Content').first().json.signer_name, ('https://docs.google.com/document/d/' + ($('Create Google Doc').first().json.id || '') + '/edit'), ($('Create Google Doc').first().json.id || '') ] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "cfxNZdzy0NB3xkYC",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "cg-11",
      "name": "Notify Damian",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1700,
        220
      ],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $('Load Architect Email').first().json.value }}",
        "subject": "=Certificado generado: {{ $('Build Content').first().json.title }}",
        "emailType": "html",
        "message": "=<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto\"><h2>Certificado generado en borrador</h2><p><b>Tipo:</b> {{ $('Build Content').first().json.certificate_type }}</p><p><b>Proyecto:</b> {{ $('Build Content').first().json.project_name }}</p><p><b>Firmante:</b> {{ $('Build Content').first().json.signer_name }} (col. {{ $('Build Content').first().json.collegiate_no }})</p><p><a href=\"https://docs.google.com/document/d/{{ $('Create Google Doc').first().json.id }}/edit\" style=\"background:#3498db;color:white;padding:10px 20px;text-decoration:none;border-radius:4px\">Abrir borrador en Google Docs</a></p><p style=\"font-size:12px;color:#95a5a6\">Revisar, completar campos vacios, imprimir, firmar y registrar (si aplica). Marcar como signed con UPDATE certificates SET status='signed', issued_at=now() WHERE id='{{ $json.id }}';</p></div>",
        "options": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "cIma8ntTjZvIfU3H",
          "name": "damian2botella"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "cg-12",
      "name": "Respond 201",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1940,
        220
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({status:'created', certificate_id: $('Insert Certificate Row').first().json.id, title: $('Insert Certificate Row').first().json.title, certificate_type: $('Build Content').first().json.certificate_type, doc_url: ('https://docs.google.com/document/d/' + $('Create Google Doc').first().json.id + '/edit')}) }}",
        "options": {
          "responseCode": 201
        }
      }
    },
    {
      "id": "cg-13",
      "name": "Respond 400",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -220,
        460
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({status:'error', error: $json.error}) }}",
        "options": {
          "responseCode": 400
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate": {
      "main": [
        [
          {
            "node": "Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid?": {
      "main": [
        [
          {
            "node": "Load Architect Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 400",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Architect Email": {
      "main": [
        [
          {
            "node": "Load Project + Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Project + Client": {
      "main": [
        [
          {
            "node": "Load Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Template": {
      "main": [
        [
          {
            "node": "Build Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Content": {
      "main": [
        [
          {
            "node": "Create Google Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Doc": {
      "main": [
        [
          {
            "node": "Insert Doc Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Doc Body": {
      "main": [
        [
          {
            "node": "Insert Certificate Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Certificate Row": {
      "main": [
        [
          {
            "node": "Notify Damian",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Damian": {
      "main": [
        [
          {
            "node": "Respond 201",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "qfQWaGSpyjgdeFt5",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}