studio-multiagente/workflows/agent_contracts.json
{
  "name": "agent_contracts",
  "nodes": [
    {
      "id": "ac-01",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -700,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "contract-generate",
        "responseMode": "responseNode",
        "authentication": "headerAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ba643jvuElTgMawr",
          "name": "Webhook API Key (entrante)"
        }
      },
      "webhookId": "ac-trigger"
    },
    {
      "id": "ac-02",
      "name": "Load Architect Email",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -460,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT value FROM system_config WHERE key = 'architect_email'",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "cfxNZdzy0NB3xkYC",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "ac-03",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -220,
        300
      ],
      "parameters": {
        "jsCode": "const body = ($('Webhook').first().json.body) || {};\nconst types = ['encargo_profesional','contrato_cliente','contrato_gremio','acta_replanteo','acta_recepcion_provisional','acta_recepcion_definitiva','modificado_obra','renuncia_garantia','otros'];\nif (!body.project_id) return [{ json: { valid:false, error:'project_id obligatorio' } }];\nif (!body.contract_type || !types.includes(body.contract_type)) return [{ json: { valid:false, error:'contract_type debe ser uno de: '+types.join(', ') } }];\nif (!body.parties || !Array.isArray(body.parties) || body.parties.length === 0) return [{ json: { valid:false, error:'parties debe ser array no vacio con [{role, name, dni?, email?, address?}]' } }];\nreturn [{ json: {\n  valid: true,\n  project_id:    body.project_id,\n  contract_type: body.contract_type,\n  parties:       body.parties,\n  scope:         (body.scope || '').toString().slice(0, 5000),\n  amount_eur:    body.amount_eur ? Number(body.amount_eur) : null,\n  expires_days:  body.expires_days ? Number(body.expires_days) : 30,\n  notes:         (body.notes || '').toString().slice(0, 1000)\n}}];"
      }
    },
    {
      "id": "ac-04",
      "name": "Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        20,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "v1",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "ac-05",
      "name": "Load Project + Client",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        260,
        220
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT json_build_object(\n  'project_id', p.id,\n  'project_name', p.name,\n  'project_type', p.project_type,\n  'property_type', p.property_type,\n  'property_area_m2', p.property_area_m2,\n  'location_address', p.location_address,\n  'location_city', p.location_city,\n  'location_province', p.location_province,\n  'budget_target', p.budget_target,\n  'started_at', p.started_at,\n  'target_completion', p.target_completion,\n  'client', json_build_object('name', c.name, 'email', pii_decrypt(c.email_enc), 'phone', pii_decrypt(c.phone_enc), 'notes', pii_decrypt(c.notes_enc))\n) AS data\nFROM projects p JOIN clients c ON c.id = p.client_id\nWHERE p.id = $1::uuid;",
        "options": {
          "queryReplacement": "={{ [ $('Validate Input').first().json.project_id ] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "cfxNZdzy0NB3xkYC",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "ac-06",
      "name": "Build Contract Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        220
      ],
      "parameters": {
        "jsCode": "const tpl = $input.first().json;\nconst projectRow = $('Load Project + Client').first().json.data || {};\nconst input = $('Validate Input').first().json;\nconst client = projectRow.client || {};\n\nconst today = new Date().toLocaleDateString('es-ES', { day:'2-digit', month:'long', year:'numeric' });\nconst location = `${projectRow.location_address || ''}, ${projectRow.location_city || ''} (${projectRow.location_province || ''})`;\nconst partiesText = (input.parties || []).map(p => `• ${p.role.toUpperCase()}: ${p.name}${p.dni ? ' (DNI ' + p.dni + ')' : ''}${p.email ? ', email: ' + p.email : ''}${p.address ? ', domicilio: ' + p.address : ''}`).join('\\n');\nconst amount_text = input.amount_eur ? input.amount_eur.toLocaleString('es-ES') + ' EUR (IVA no incluido)' : '(a determinar)';\n\nconst vars = {\n  project_name: projectRow.project_name || '',\n  location_city: projectRow.location_city || '',\n  location: location,\n  property_area_m2: projectRow.property_area_m2 || '___',\n  today: today,\n  partiesText: partiesText,\n  scope: input.scope || '(pendiente)',\n  amount_text: amount_text,\n  amount_eur: input.amount_eur || '',\n  client_name: client.name || ''\n};\n\nconst render = (s) => (s || '').replace(/\\{(\\w+)\\}/g, (m, k) => vars[k] !== undefined ? String(vars[k]) : m);\n\nlet title, body;\nif (tpl && tpl.title_template) {\n  title = render(tpl.title_template);\n  body  = render(tpl.body_template);\n} else {\n  title = 'Documento contractual — ' + vars.project_name;\n  body  = 'Plantilla no encontrada para tipo ' + input.contract_type + '. Editar manualmente.';\n}\n\nconst expiresAt = new Date(Date.now() + (input.expires_days * 86400 * 1000)).toISOString();\n\nreturn [{ json: {\n  title: title,\n  body: body,\n  template_used: input.contract_type + ':v' + (tpl?.version || 1) + ':db',\n  expires_at: expiresAt,\n  project_id: input.project_id,\n  project_name: vars.project_name,\n  contract_type: input.contract_type,\n  parties: input.parties,\n  amount_eur: input.amount_eur,\n  scope: input.scope,\n  notes: input.notes,\n  client_email: client.email\n}}];"
      }
    },
    {
      "id": "ac-07",
      "name": "Create Google Doc",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        740,
        220
      ],
      "parameters": {
        "operation": "create",
        "title": "={{ $json.title }}",
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Drive raíz)"
        }
      },
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "6NK9u2hvm1UUdoVu",
          "name": "Google Docs account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "ac-08",
      "name": "Insert Doc Body HTTP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        220
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://docs.googleapis.com/v1/documents/' + $('Create Google Doc').first().json.id + ':batchUpdate' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ requests: [{ insertText: { location: { index: 1 }, text: $('Build Contract Content').first().json.body } }] }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "6NK9u2hvm1UUdoVu",
          "name": "Google Docs account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "ac-09",
      "name": "Insert Contract Row",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1220,
        220
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO contracts (\n  project_id, contract_type, title, parties, template_used, doc_url, doc_id, expires_at, amount_eur, scope, notes, status\n) VALUES (\n  $1::uuid, $2, $3, $4::jsonb, $5, $6, $7, $8::timestamptz, $9::numeric, $10, $11, 'draft'\n)\nRETURNING id, title, status, doc_url, expires_at;",
        "options": {
          "queryReplacement": "={{ [\n  $('Build Contract Content').first().json.project_id,\n  $('Build Contract Content').first().json.contract_type,\n  $('Build Contract Content').first().json.title,\n  JSON.stringify($('Build Contract Content').first().json.parties),\n  $('Build Contract Content').first().json.template_used,\n  ('https://docs.google.com/document/d/' + ($('Create Google Doc').first().json.id || '') + '/edit'),\n  ($('Create Google Doc').first().json.id || ''),\n  $('Build Contract Content').first().json.expires_at,\n  $('Build Contract Content').first().json.amount_eur,\n  $('Build Contract Content').first().json.scope,\n  $('Build Contract Content').first().json.notes\n] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "cfxNZdzy0NB3xkYC",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "ac-10",
      "name": "Notify Damian",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1460,
        220
      ],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $('Load Architect Email').first().json.value }}",
        "subject": "=ArquitAI — Contrato generado: {{ $json.title }}",
        "emailType": "html",
        "message": "=<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto\"><h2>Contrato generado en borrador</h2><h3 style=\"color:#7f8c8d\">{{ $('Build Contract Content').first().json.project_name }}</h3><p><b>Tipo:</b> {{ $('Build Contract Content').first().json.contract_type }}</p><p><b>Importe:</b> {{ $('Build Contract Content').first().json.amount_eur || 'n/a' }} EUR</p><p><b>Estado:</b> draft (revisalo, edita lo necesario y envíalo manualmente al firmante)</p><p><a href=\"https://docs.google.com/document/d/{{ $('Create Google Doc').first().json.id }}/edit\" style=\"background:#3498db;color:white;padding:10px 20px;text-decoration:none;border-radius:4px\">Abrir borrador en Google Docs</a></p><p style=\"font-size:12px;color:#95a5a6\">Cuando tengas el contrato firmado: POST /webhook/contract-signed con {contract_id, signer_email, signed_doc_url} y se marcara como signed automaticamente.</p><p><b>Contract ID:</b> {{ $json.id }}</p></div>",
        "options": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "cIma8ntTjZvIfU3H",
          "name": "damian2botella"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "ac-11",
      "name": "Respond 201",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1700,
        220
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({status:'created', contract_id: $('Insert Contract Row').first().json.id, title: $('Insert Contract Row').first().json.title, doc_url: 'https://docs.google.com/document/d/' + $('Create Google Doc').first().json.id + '/edit', expires_at: $('Insert Contract Row').first().json.expires_at}) }}",
        "options": {
          "responseCode": 201
        }
      }
    },
    {
      "id": "ac-12",
      "name": "Respond 400",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        20,
        480
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({status:'error', error: $json.error}) }}",
        "options": {
          "responseCode": 400
        }
      }
    },
    {
      "id": "ac-tpl",
      "name": "Load Template",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        380,
        220
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT title_template, body_template FROM contract_templates WHERE contract_type = $1 AND is_active = true ORDER BY version DESC LIMIT 1;",
        "options": {
          "queryReplacement": "={{ [ $('Validate Input').first().json.contract_type ] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "cfxNZdzy0NB3xkYC",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Load Architect Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Architect Email": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid?": {
      "main": [
        [
          {
            "node": "Load Project + Client",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 400",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Contract Content": {
      "main": [
        [
          {
            "node": "Create Google Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Doc": {
      "main": [
        [
          {
            "node": "Insert Doc Body HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Doc Body HTTP": {
      "main": [
        [
          {
            "node": "Insert Contract Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Contract Row": {
      "main": [
        [
          {
            "node": "Notify Damian",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Damian": {
      "main": [
        [
          {
            "node": "Respond 201",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Project + Client": {
      "main": [
        [
          {
            "node": "Load Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Template": {
      "main": [
        [
          {
            "node": "Build Contract Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "qfQWaGSpyjgdeFt5",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}