studio-multiagente/workflows/client_ask.json
{
  "name": "client_ask",
  "nodes": [
    {
      "id": "ck-01",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -700,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "client-ask",
        "responseMode": "responseNode"
      },
      "webhookId": "ck-trigger"
    },
    {
      "id": "ck-02",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -460,
        300
      ],
      "parameters": {
        "jsCode": "const body = ($('Webhook').first().json.body) || {};\nif (!body.token) return [{ json: { valid:false, error:'token obligatorio' } }];\nif (!body.question || body.question.toString().length < 3) return [{ json: { valid:false, error:'question >= 3 chars obligatorio' } }];\nreturn [{ json: { valid:true, token: body.token, question: body.question.toString().slice(0,2000) } }];"
      }
    },
    {
      "id": "ck-03",
      "name": "Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -220,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "v1",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "ck-04",
      "name": "Validate Token",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        20,
        220
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM validate_client_token($1, 'client_ask');",
        "options": {
          "queryReplacement": "={{ [ $json.token ] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "cfxNZdzy0NB3xkYC",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "ck-05",
      "name": "Token Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        260,
        220
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "tv1",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "ck-06",
      "name": "Load Project Context",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        500,
        140
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT json_build_object(\n  'project_id', p.id,\n  'project_name', p.name,\n  'project_type', p.project_type,\n  'property_type', p.property_type,\n  'property_area_m2', p.property_area_m2,\n  'location_city', p.location_city,\n  'current_phase', p.current_phase,\n  'budget_target', p.budget_target,\n  'started_at', p.started_at,\n  'target_completion', p.target_completion,\n  'handover_date', p.handover_date,\n  'client_name', c.name,\n  'briefing_summary', (SELECT b.summary FROM briefings b WHERE b.project_id = p.id ORDER BY b.created_at DESC LIMIT 1),\n  'design_option', (SELECT json_build_object('title', d.title, 'description', d.description) FROM design_options d WHERE d.project_id = p.id AND d.is_selected = true LIMIT 1),\n  'cost_estimate_total', (SELECT total_estimated FROM cost_estimates WHERE project_id = p.id ORDER BY version DESC LIMIT 1),\n  'has_active_aftercare', EXISTS(SELECT 1 FROM aftercare_incidents ai WHERE ai.project_id = p.id AND ai.status NOT IN ('resolved','closed','cancelled'))\n) AS context\nFROM projects p\nLEFT JOIN clients c ON c.id = p.client_id\nWHERE p.id = $1::uuid;",
        "options": {
          "queryReplacement": "={{ [ $json.project_id ] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "cfxNZdzy0NB3xkYC",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "ck-07",
      "name": "Load Agent Prompt",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        740,
        140
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT content, model_recommended, temperature FROM agent_prompts WHERE agent_name='agent_client_concierge' AND prompt_type='system' AND is_active=true ORDER BY version DESC LIMIT 1;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "cfxNZdzy0NB3xkYC",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "ck-08",
      "name": "Build LLM Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        140
      ],
      "parameters": {
        "jsCode": "const promptRow = $input.first().json;\nconst ctx = $('Load Project Context').first().json.context;\nconst question = $('Validate Input').first().json.question;\nconst tokenInfo = $('Validate Token').first().json;\nconst prompt_user = `CONTEXTO DEL PROYECTO DEL CLIENTE:\nNombre proyecto: ${ctx.project_name}\nCliente: ${ctx.client_name}\nTipo: ${ctx.project_type} (${ctx.property_type}, ${ctx.property_area_m2} m2)\nUbicacion: ${ctx.location_city}\nFase actual: ${ctx.current_phase}\nBudget objetivo: ${ctx.budget_target || '(no definido)'} EUR\nPresupuesto estimado: ${ctx.cost_estimate_total || '(pendiente)'} EUR\nFecha inicio: ${ctx.started_at || '(no definida)'}\nFecha objetivo entrega: ${ctx.target_completion || '(no definida)'}\nFecha entrega real (handover): ${ctx.handover_date || '(no entregado)'}\n\nResumen briefing aprobado: ${ctx.briefing_summary || '(no disponible)'}\nDiseno seleccionado: ${ctx.design_option ? ctx.design_option.title + ' — ' + (ctx.design_option.description || '').substring(0,200) : '(no seleccionado)'}\nIncidencias post-entrega activas: ${ctx.has_active_aftercare ? 'SI' : 'NO'}\n\n---\n\nPREGUNTA DEL CLIENTE:\n${question}\n\n---\n\nResponde en JSON segun schema. Recuerda escalar al arquitecto Damian si la pregunta requiere decision profesional o si te falta info.`;\nreturn [{ json: { agent_name: 'agent_client_concierge', prompt_system: promptRow.content, prompt_user: prompt_user, model: promptRow.model_recommended || 'gpt-4o-mini', temperature: promptRow.temperature !== null ? Number(promptRow.temperature) : 0.4, project_id: ctx.project_id, question: question, token_id: tokenInfo.token_id } }];"
      }
    },
    {
      "id": "ck-09",
      "name": "Call LLM",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1220,
        140
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JoKqGZ8pDzhJohV2",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      }
    },
    {
      "id": "ck-10",
      "name": "Parse LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        140
      ],
      "parameters": {
        "jsCode": "const llm = $input.first().json;\nlet text = llm.text || llm.content || '';\ntext = text.replace(/^```(?:json)?\\s*/i,'').replace(/```\\s*$/i,'').trim();\nlet parsed;\ntry { parsed = JSON.parse(text); } catch(e) {\n  const m = text.match(/\\{[\\s\\S]*\\}/);\n  if (m) { try { parsed = JSON.parse(m[0]); } catch(_) {} }\n}\nif (!parsed) {\n  parsed = { answer: 'Disculpa, no he podido procesar tu pregunta correctamente. Te he derivado al arquitecto y se pondra en contacto contigo en breve.', escalate: true, escalation_reason: 'parse_failure', data_used: [] };\n}\nreturn [{ json: { answer: parsed.answer || '', escalate: !!parsed.escalate, escalation_reason: parsed.escalation_reason || null, data_used: Array.isArray(parsed.data_used) ? parsed.data_used : [], llm_model: llm.model || 'gpt-4o-mini', llm_tokens_in: llm.tokens_in || null, llm_tokens_out: llm.tokens_out || null, llm_cost_usd: llm.cost_estimated || null } }];"
      }
    },
    {
      "id": "ck-11",
      "name": "Save Conversation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1700,
        140
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO client_conversations (project_id, token_id, question, answer, escalated, escalation_reason, llm_model, llm_tokens_in, llm_tokens_out, llm_cost_usd, client_ip, answered_at)\nVALUES ($1::uuid, $2::uuid, $3, $4, $5::boolean, $6, $7, $8::int, $9::int, $10::numeric, $11, now())\nRETURNING id, escalated;",
        "options": {
          "queryReplacement": "={{ [ $('Build LLM Payload').first().json.project_id, $('Build LLM Payload').first().json.token_id, $('Build LLM Payload').first().json.question, $json.answer, $json.escalate, $json.escalation_reason, $json.llm_model, $json.llm_tokens_in, $json.llm_tokens_out, $json.llm_cost_usd, ($('Webhook').first().json.headers?.['x-real-ip'] || $('Webhook').first().json.headers?.['x-forwarded-for'] || 'unknown') ] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "cfxNZdzy0NB3xkYC",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "ck-12",
      "name": "Escalate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1940,
        140
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "e1",
              "leftValue": "={{ $json.escalated }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "ck-13",
      "name": "Load Architect Email",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2180,
        60
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT value FROM system_config WHERE key = 'architect_email'",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "cfxNZdzy0NB3xkYC",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "ck-14",
      "name": "Notify Damian",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2420,
        60
      ],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.value }}",
        "subject": "=ArquitAI Concierge — escalado de cliente {{ $('Load Project Context').first().json.context.client_name }}",
        "emailType": "html",
        "message": "=<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto\"><h2 style=\"color:#e67e22\">Cliente solicita atencion del arquitecto</h2><p><b>Proyecto:</b> {{ $('Load Project Context').first().json.context.project_name }}</p><p><b>Cliente:</b> {{ $('Load Project Context').first().json.context.client_name }}</p><h3>Pregunta del cliente</h3><blockquote style=\"border-left:4px solid #ccc;padding:10px;background:#f9f9f9\">{{ $('Validate Input').first().json.question }}</blockquote><h3>Respuesta dada (con aviso de escalado)</h3><p>{{ $('Parse LLM').first().json.answer }}</p><p><b>Razon escalado:</b> {{ $('Parse LLM').first().json.escalation_reason }}</p><p style=\"font-size:12px;color:#95a5a6\">Conversation ID: {{ $('Save Conversation').first().json.id }}</p></div>",
        "options": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "cIma8ntTjZvIfU3H",
          "name": "damian2botella"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "ck-15",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2660,
        140
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({status:'ok', answer: $('Parse LLM').first().json.answer, escalated: $('Parse LLM').first().json.escalate, conversation_id: $('Save Conversation').first().json.id}) }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "ck-16",
      "name": "Respond 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        500,
        360
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({status:'unauthorized', reason: ($('Validate Token').first().json.reason || 'invalid_token')}) }}",
        "options": {
          "responseCode": 401
        }
      }
    },
    {
      "id": "ck-17",
      "name": "Respond 400",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -220,
        460
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({status:'error', error: $json.error}) }}",
        "options": {
          "responseCode": 400
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid?": {
      "main": [
        [
          {
            "node": "Validate Token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 400",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Token": {
      "main": [
        [
          {
            "node": "Token Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Valid?": {
      "main": [
        [
          {
            "node": "Load Project Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 401",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Project Context": {
      "main": [
        [
          {
            "node": "Load Agent Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Agent Prompt": {
      "main": [
        [
          {
            "node": "Build LLM Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build LLM Payload": {
      "main": [
        [
          {
            "node": "Call LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call LLM": {
      "main": [
        [
          {
            "node": "Parse LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM": {
      "main": [
        [
          {
            "node": "Save Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Conversation": {
      "main": [
        [
          {
            "node": "Escalate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalate?": {
      "main": [
        [
          {
            "node": "Load Architect Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Architect Email": {
      "main": [
        [
          {
            "node": "Notify Damian",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Damian": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "qfQWaGSpyjgdeFt5",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}