studio-multiagente/workflows/contract_mark_signed.json
{
  "name": "contract_mark_signed",
  "nodes": [
    {
      "id": "cs-01",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -700,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "contract-signed",
        "responseMode": "responseNode",
        "authentication": "headerAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ba643jvuElTgMawr",
          "name": "Webhook API Key (entrante)"
        }
      },
      "webhookId": "cs-trigger"
    },
    {
      "id": "cs-02",
      "name": "Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -460,
        300
      ],
      "parameters": {
        "jsCode": "const body = ($('Webhook').first().json.body) || {};\nif (!body.contract_id) return [{ json: { valid:false, error:'contract_id obligatorio' } }];\nreturn [{ json: {\n  valid: true,\n  contract_id:    body.contract_id,\n  signer_email:   body.signer_email || null,\n  signed_doc_url: body.signed_doc_url || null,\n  signature_hash: body.signature_hash || null,\n  signed_at:      body.signed_at || null,\n  status:         body.status || 'signed'\n}}];"
      }
    },
    {
      "id": "cs-03",
      "name": "Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -220,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "v1",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "cs-04",
      "name": "Update Contract",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        20,
        220
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE contracts\n   SET status = $2,\n       signer_email = COALESCE(NULLIF($3,''), signer_email),\n       signed_doc_url = COALESCE(NULLIF($4,''), signed_doc_url),\n       signature_hash = COALESCE(NULLIF($5,''), signature_hash),\n       signed_at = COALESCE(NULLIF($6,'')::timestamptz, signed_at)\n WHERE id = $1::uuid\n RETURNING id, project_id, contract_type, title, status, signed_at, signed_doc_url;",
        "options": {
          "queryReplacement": "={{ [ $json.contract_id, $json.status, $json.signer_email || '', $json.signed_doc_url || '', $json.signature_hash || '', $json.signed_at || '' ] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "cfxNZdzy0NB3xkYC",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "cs-05",
      "name": "Match?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        260,
        220
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "m1",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "cs-06",
      "name": "Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        500,
        140
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO activity_log (project_id, agent_name, action, status, output_summary)\nVALUES ($1::uuid, 'contract_mark_signed', 'contract_signed', 'success', $2)\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ [ $json.project_id, ($json.contract_type + ' — ' + $json.title) ] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "cfxNZdzy0NB3xkYC",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "cs-07",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        740,
        140
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({status:'updated', contract_id: $('Update Contract').first().json.id, contract_type: $('Update Contract').first().json.contract_type, contract_status: $('Update Contract').first().json.status, signed_at: $('Update Contract').first().json.signed_at}) }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "cs-08",
      "name": "Respond 404",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        500,
        320
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({status:'not_found', error: 'contract_id no encontrado'}) }}",
        "options": {
          "responseCode": 404
        }
      }
    },
    {
      "id": "cs-09",
      "name": "Respond 400",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -220,
        460
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({status:'error', error: $json.error}) }}",
        "options": {
          "responseCode": 400
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate": {
      "main": [
        [
          {
            "node": "Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid?": {
      "main": [
        [
          {
            "node": "Update Contract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 400",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Contract": {
      "main": [
        [
          {
            "node": "Match?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match?": {
      "main": [
        [
          {
            "node": "Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 404",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "qfQWaGSpyjgdeFt5",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}