studio-multiagente/workflows/cron_db_size_check.json
{
  "name": "cron_db_size_check",
  "nodes": [
    {
      "id": "ds-01",
      "name": "Daily 04:45",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-700, 300],
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "45 4 * * *" }] } }
    },
    {
      "id": "ds-02",
      "name": "Snapshot + Compare",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-460, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH ins AS (\n  INSERT INTO db_size_history (total_bytes, table_count, by_table_top20)\n  SELECT\n    pg_database_size(current_database())::bigint,\n    (SELECT count(*) FROM information_schema.tables WHERE table_schema='public'),\n    (SELECT json_agg(t.* ORDER BY t.size_bytes DESC) FROM (\n      SELECT table_name AS name, pg_total_relation_size('public.'||quote_ident(table_name))::bigint AS size_bytes\n        FROM information_schema.tables\n       WHERE table_schema='public'\n       ORDER BY pg_total_relation_size('public.'||quote_ident(table_name)) DESC\n       LIMIT 20\n    ) t)\n  RETURNING total_mb, snapshot_at, by_table_top20\n),\nweek_ago AS (\n  SELECT total_mb FROM db_size_history WHERE snapshot_at < now() - INTERVAL '6 days' AND snapshot_at > now() - INTERVAL '8 days' ORDER BY snapshot_at DESC LIMIT 1\n)\nSELECT json_build_object(\n  'now_mb', (SELECT total_mb FROM ins),\n  'week_ago_mb', (SELECT total_mb FROM week_ago),\n  'growth_pct_7d', CASE WHEN (SELECT total_mb FROM week_ago) IS NOT NULL AND (SELECT total_mb FROM week_ago) > 0\n    THEN round(100.0 * ((SELECT total_mb FROM ins) - (SELECT total_mb FROM week_ago)) / (SELECT total_mb FROM week_ago), 1)\n    ELSE NULL\n  END,\n  'top_table', (SELECT (by_table_top20->0->>'name') FROM ins),\n  'top_table_mb', (SELECT round(((by_table_top20->0->>'size_bytes')::numeric / 1048576), 2) FROM ins)\n) AS report;",
        "options": {}
      },
      "credentials": { "postgres": { "id": "cfxNZdzy0NB3xkYC", "name": "Postgres account" } }
    },
    {
      "id": "ds-03",
      "name": "Anomalous?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-220, 300],
      "parameters": {
        "conditions": {
          "options": { "version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "loose" },
          "combinator": "or",
          "conditions": [
            { "id": "a1", "leftValue": "={{ Number($json.report.growth_pct_7d) }}", "rightValue": 50, "operator": { "type": "number", "operation": "gt" } },
            { "id": "a2", "leftValue": "={{ Number($json.report.now_mb) }}", "rightValue": 5000, "operator": { "type": "number", "operation": "gt" } }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "ds-04",
      "name": "Raise Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [20, 220],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT raise_security_event(\n  'unusual_access_pattern'::text,\n  'medium'::text,\n  'cron'::text, '/cron_db_size_check'::text, 'db_size'::text, NULL::uuid,\n  'BD crece rapido: ' || ($1::numeric) || ' MB ahora vs ' || COALESCE(($2::numeric)::text, 'N/A') || ' MB hace 7d (' || COALESCE(($3::numeric)::text, 'N/A') || '% en 7d). Top tabla: ' || $4 || ' (' || ($5::numeric) || ' MB).',\n  $6::jsonb\n) AS event_id;",
        "options": { "queryReplacement": "={{ [ $json.report.now_mb, $json.report.week_ago_mb, $json.report.growth_pct_7d, $json.report.top_table, $json.report.top_table_mb, JSON.stringify($json.report) ] }}" }
      },
      "credentials": { "postgres": { "id": "cfxNZdzy0NB3xkYC", "name": "Postgres account" } }
    },
    {
      "id": "ds-05",
      "name": "Log OK",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [20, 380],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO activity_log (action, agent_name, details) VALUES ('db_size_snapshot_ok', 'cron_db_size_check', $1::jsonb);",
        "options": { "queryReplacement": "={{ [ JSON.stringify($json.report) ] }}" }
      },
      "credentials": { "postgres": { "id": "cfxNZdzy0NB3xkYC", "name": "Postgres account" } }
    }
  ],
  "connections": {
    "Daily 04:45":         { "main": [[{ "node": "Snapshot + Compare", "type": "main", "index": 0 }]] },
    "Snapshot + Compare":  { "main": [[{ "node": "Anomalous?",         "type": "main", "index": 0 }]] },
    "Anomalous?":          {
      "main": [
        [{ "node": "Raise Event", "type": "main", "index": 0 }],
        [{ "node": "Log OK",      "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "qfQWaGSpyjgdeFt5"
  }
}
