studio-multiagente/workflows/cron_qc_review.json
{
  "name": "cron_qc_review",
  "active": true,
  "nodes": [
    {
      "id": "qr-01",
      "name": "Schedule Daily 09:15",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-700, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "days", "daysInterval": 1, "triggerAtHour": 9, "triggerAtMinute": 15 }]
        }
      }
    },
    {
      "id": "qr-02",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-700, 500],
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-qc-review",
        "responseMode": "lastNode",
        "authentication": "headerAuth"
      },
      "credentials": {
        "httpHeaderAuth": { "id": "Ba643jvuElTgMawr", "name": "Webhook API Key (entrante)" }
      },
      "webhookId": "qr-manual-webhook"
    },
    {
      "id": "qr-03",
      "name": "Load Architect Email",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-460, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT value FROM system_config WHERE key = 'architect_email'",
        "options": {}
      },
      "credentials": {
        "postgres": { "id": "cfxNZdzy0NB3xkYC", "name": "Postgres account" }
      }
    },
    {
      "id": "qr-04",
      "name": "Find Stuck Checklists",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-220, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH stuck AS (\n  SELECT qc.id, qc.project_id, qc.phase_key, qc.status,\n         qc.generated_at, qc.updated_at, qc.notes,\n         EXTRACT(DAY FROM now() - qc.generated_at)::int AS days_open,\n         EXTRACT(DAY FROM now() - qc.updated_at)::int AS days_no_progress,\n         (SELECT count(*) FROM jsonb_array_elements(qc.items) it WHERE it->>'status'='pass')    AS passed,\n         (SELECT count(*) FROM jsonb_array_elements(qc.items) it WHERE it->>'status'='fail')    AS failed,\n         (SELECT count(*) FROM jsonb_array_elements(qc.items) it WHERE it->>'status'='pending') AS pending,\n         (SELECT count(*) FROM jsonb_array_elements(qc.items) it WHERE it->>'status'='skip')    AS skipped,\n         (SELECT json_agg(json_build_object('id', it->>'id', 'label', it->>'label', 'comment', it->>'comment'))\n            FROM jsonb_array_elements(qc.items) it WHERE it->>'status'='fail') AS fail_items,\n         p.name AS project_name\n  FROM qc_checks qc\n  JOIN projects p ON p.id = qc.project_id\n  WHERE qc.status IN ('open','in_progress','blocked')\n    AND (\n      (qc.status = 'blocked' AND qc.updated_at < now() - INTERVAL '3 days') OR\n      (qc.status IN ('open','in_progress') AND qc.generated_at < now() - INTERVAL '7 days')\n    )\n)\nSELECT json_agg(stuck.* ORDER BY days_no_progress DESC NULLS LAST, days_open DESC) AS rows,\n       count(*) AS stuck_count\n  FROM stuck;",
        "options": {}
      },
      "credentials": {
        "postgres": { "id": "cfxNZdzy0NB3xkYC", "name": "Postgres account" }
      },
      "alwaysOutputData": true
    },
    {
      "id": "qr-05",
      "name": "Has Stuck?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [20, 400],
      "parameters": {
        "conditions": {
          "options": { "version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [
            { "id": "h1", "leftValue": "={{ Number($json.stuck_count) || 0 }}", "rightValue": 0, "operator": { "type": "number", "operation": "gt" } }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "qr-06",
      "name": "Build Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 320],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst rows = (data.rows || []).map(r => {\n  const sevColor = r.status === 'blocked' ? '#e74c3c' : (r.days_open > 14 ? '#e67e22' : '#3498db');\n  const failItems = (r.fail_items || []).map(f => `<li>${f.label}${f.comment ? ' — <i>' + f.comment + '</i>' : ''}</li>`).join('');\n  const failBlock = r.failed > 0 ? `<ul style=\\\"margin:4px 0 0 18px;font-size:11px;color:#7f8c8d\\\">${failItems}</ul>` : '';\n  return '<tr>' +\n    '<td><b>' + (r.project_name || '?') + '</b><br><small style=\\\"color:#7f8c8d\\\">' + r.phase_key + '</small></td>' +\n    '<td><span style=\\\"background:' + sevColor + ';color:white;padding:3px 8px;border-radius:12px;font-size:11px\\\">' + r.status + '</span></td>' +\n    '<td>' + r.passed + ' pass / ' + r.failed + ' fail / ' + r.pending + ' pending' + failBlock + '</td>' +\n    '<td>' + r.days_open + 'd abierto<br><small>' + r.days_no_progress + 'd sin avance</small></td>' +\n    '</tr>';\n}).join('');\nconst html = '<h2>QC checklists pendientes de revisión</h2>' +\n  '<p>Total stuck: <b>' + data.stuck_count + '</b>. Criterios: <code>blocked &gt; 3 días</code> o <code>open/in_progress &gt; 7 días</code>.</p>' +\n  '<table border=\\\"1\\\" cellpadding=\\\"6\\\" cellspacing=\\\"0\\\" style=\\\"border-collapse:collapse;font-family:sans-serif;font-size:13px\\\">' +\n  '<thead><tr style=\\\"background:#f3f4f6\\\"><th>Proyecto / Fase</th><th>Estado</th><th>Items</th><th>Tiempo</th></tr></thead>' +\n  '<tbody>' + rows + '</tbody></table>' +\n  '<p style=\\\"font-size:11px;color:#6b7280\\\">Para cerrar un item: <code>POST /webhook/qc-complete</code> con <code>{qc_id, item_id, status}</code>.</p>';\nreturn [{ json: { html_body: html, count: data.stuck_count } }];"
      }
    },
    {
      "id": "qr-07",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [500, 320],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $('Load Architect Email').first().json.value }}",
        "subject": "=ArquitAI — {{ $json.count }} QC checklist(s) stuck",
        "emailType": "html",
        "message": "={{ $json.html_body }}",
        "options": { "appendAttribution": false }
      },
      "credentials": {
        "gmailOAuth2": { "id": "cIma8ntTjZvIfU3H", "name": "damian2botella" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "qr-08",
      "name": "Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [740, 320],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO activity_log (project_id, agent_name, action, status, input_summary)\nVALUES (NULL, 'cron_qc_review', 'review_stuck_qc', 'success', $1)\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ [ ('stuck=' + $json.count) ] }}"
        }
      },
      "credentials": {
        "postgres": { "id": "cfxNZdzy0NB3xkYC", "name": "Postgres account" }
      }
    },
    {
      "id": "qr-09",
      "name": "Nothing Stuck",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [260, 480],
      "parameters": {}
    }
  ],
  "connections": {
    "Schedule Daily 09:15": { "main": [[{ "node": "Load Architect Email", "type": "main", "index": 0 }]] },
    "Manual Trigger":       { "main": [[{ "node": "Load Architect Email", "type": "main", "index": 0 }]] },
    "Load Architect Email": { "main": [[{ "node": "Find Stuck Checklists", "type": "main", "index": 0 }]] },
    "Find Stuck Checklists":{ "main": [[{ "node": "Has Stuck?", "type": "main", "index": 0 }]] },
    "Has Stuck?":           { "main": [
      [{ "node": "Build Email",   "type": "main", "index": 0 }],
      [{ "node": "Nothing Stuck", "type": "main", "index": 0 }]
    ]},
    "Build Email":          { "main": [[{ "node": "Send Email", "type": "main", "index": 0 }]] },
    "Send Email":           { "main": [[{ "node": "Log",        "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "qfQWaGSpyjgdeFt5",
    "callerPolicy": "workflowsFromSameOwner"
  }
}
