studio-multiagente/workflows/cron_access_log_purge.json
{
  "name": "cron_access_log_purge",
  "nodes": [
    {
      "id": "ap-01",
      "name": "Daily 04:30",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-700, 300],
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "30 4 * * *" }] }
      }
    },
    {
      "id": "ap-02",
      "name": "Purge access_log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-460, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH purged AS (\n  DELETE FROM access_log\n   WHERE occurred_at < now() - INTERVAL '90 days'\n     AND pii_accessed = false\n     AND result NOT IN ('denied','error')\n  RETURNING id\n)\nSELECT json_build_object(\n  'rows_purged', count(*),\n  'remaining', (SELECT count(*) FROM access_log)\n) AS report FROM purged;",
        "options": {}
      },
      "credentials": { "postgres": { "id": "cfxNZdzy0NB3xkYC", "name": "Postgres account" } }
    },
    {
      "id": "ap-03",
      "name": "Anything?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-220, 300],
      "parameters": {
        "conditions": {
          "options": { "version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "loose" },
          "combinator": "and",
          "conditions": [
            { "id": "p1", "leftValue": "={{ Number($json.report.rows_purged) }}", "rightValue": 0, "operator": { "type": "number", "operation": "gt" } }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "ap-04",
      "name": "Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [20, 220],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO activity_log (action, agent_name, details) VALUES ('access_log_purge', 'cron_access_log_purge', $1::jsonb);",
        "options": { "queryReplacement": "={{ [ JSON.stringify($json.report) ] }}" }
      },
      "credentials": { "postgres": { "id": "cfxNZdzy0NB3xkYC", "name": "Postgres account" } }
    },
    {
      "id": "ap-05",
      "name": "No-op",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [20, 380],
      "parameters": {}
    }
  ],
  "connections": {
    "Daily 04:30":      { "main": [[{ "node": "Purge access_log", "type": "main", "index": 0 }]] },
    "Purge access_log": { "main": [[{ "node": "Anything?",        "type": "main", "index": 0 }]] },
    "Anything?":        {
      "main": [
        [{ "node": "Log",   "type": "main", "index": 0 }],
        [{ "node": "No-op", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "qfQWaGSpyjgdeFt5"
  }
}
