studio-multiagente/workflows/cron_stuck_executions.json
{
  "name": "cron_stuck_executions",
  "nodes": [
    {
      "id": "se-01",
      "name": "Hourly",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-700, 300],
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "15 * * * *" }] }
      }
    },
    {
      "id": "se-02",
      "name": "Find + Mark Stuck",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-460, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH stuck AS (\n  UPDATE agent_executions\n     SET status = 'failed',\n         error_message = COALESCE(error_message, '') || E'\\n[auto] Marcado timeout (status=failed) por cron tras >10min sin completar.',\n         finished_at = COALESCE(finished_at, now())\n   WHERE status = 'running'\n     AND started_at < now() - INTERVAL '10 minutes'\n  RETURNING id, agent_name, project_id, started_at\n)\nSELECT json_build_object(\n  'count', count(*),\n  'by_agent', (SELECT json_object_agg(agent_name, c) FROM (SELECT agent_name, count(*) AS c FROM stuck GROUP BY agent_name) t),\n  'sample', (SELECT json_agg(t.*) FROM (SELECT id, agent_name, project_id, started_at FROM stuck LIMIT 5) t)\n) AS report FROM stuck;",
        "options": {}
      },
      "credentials": { "postgres": { "id": "cfxNZdzy0NB3xkYC", "name": "Postgres account" } }
    },
    {
      "id": "se-03",
      "name": "Anything Stuck?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-220, 300],
      "parameters": {
        "conditions": {
          "options": { "version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "loose" },
          "combinator": "and",
          "conditions": [
            { "id": "s1", "leftValue": "={{ Number($json.report.count) }}", "rightValue": 0, "operator": { "type": "number", "operation": "gt" } }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "se-04",
      "name": "Raise Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [20, 220],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT raise_security_event(\n  'unusual_access_pattern'::text,\n  'medium'::text,\n  'cron'::text, '/cron_stuck_executions'::text, 'agent_execution'::text, NULL::uuid,\n  $1::int || ' agent_executions atascados >10min auto-marcados como timeout',\n  $2::jsonb\n) AS event_id;",
        "options": { "queryReplacement": "={{ [ $json.report.count, JSON.stringify($json.report) ] }}" }
      },
      "credentials": { "postgres": { "id": "cfxNZdzy0NB3xkYC", "name": "Postgres account" } }
    },
    {
      "id": "se-05",
      "name": "Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [260, 220],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO activity_log (action, agent_name, details) VALUES ('stuck_executions_marked', 'cron_stuck_executions', $1::jsonb);",
        "options": { "queryReplacement": "={{ [ JSON.stringify($('Find + Mark Stuck').first().json.report) ] }}" }
      },
      "credentials": { "postgres": { "id": "cfxNZdzy0NB3xkYC", "name": "Postgres account" } }
    },
    {
      "id": "se-06",
      "name": "No-op",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [20, 380],
      "parameters": {}
    }
  ],
  "connections": {
    "Hourly":            { "main": [[{ "node": "Find + Mark Stuck", "type": "main", "index": 0 }]] },
    "Find + Mark Stuck": { "main": [[{ "node": "Anything Stuck?",   "type": "main", "index": 0 }]] },
    "Anything Stuck?":   {
      "main": [
        [{ "node": "Raise Event", "type": "main", "index": 0 }],
        [{ "node": "No-op",       "type": "main", "index": 0 }]
      ]
    },
    "Raise Event":       { "main": [[{ "node": "Log",               "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "qfQWaGSpyjgdeFt5"
  }
}
