studio-multiagente/workflows/cron_security_pentest_lite.json
{
  "name": "cron_security_pentest_lite",
  "nodes": [
    {
      "id": "pt-01",
      "name": "Schedule Weekly Sun 04:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -700,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1,
              "triggerAtDay": [
                0
              ],
              "triggerAtHour": 4,
              "triggerAtMinute": 0
            }
          ]
        }
      }
    },
    {
      "id": "pt-02",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -700,
        500
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-pentest-lite",
        "responseMode": "lastNode",
        "authentication": "headerAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ba643jvuElTgMawr",
          "name": "Webhook API Key (entrante)"
        }
      },
      "webhookId": "pt-manual"
    },
    {
      "id": "pt-03",
      "name": "Define Tests",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -460,
        400
      ],
      "parameters": {
        "jsCode": "const N8N = 'https://n8n-n8n.zzeluw.easypanel.host';\n// Cada test: { name, url, method, headers, body, expected_status, expected_status_alt? }\nconst tests = [\n  { name: 'auth_missing_audit', url: N8N + '/webhook/audit-project', method: 'POST', headers: {'Content-Type':'application/json'}, body: JSON.stringify({project_id:'00000000-0000-0000-0000-000000000000'}), expected_status: 403, expected_status_alt: 401, label: 'Endpoint con auth requerida sin X-API-Key' },\n  { name: 'auth_wrong_key', url: N8N + '/webhook/audit-project', method: 'POST', headers: {'Content-Type':'application/json','X-API-Key':'WRONG_KEY_123'}, body: JSON.stringify({project_id:'00000000-0000-0000-0000-000000000000'}), expected_status: 403, expected_status_alt: 401, label: 'Auth con key incorrecta' },\n  { name: 'malformed_uuid', url: N8N + '/webhook/audit-project', method: 'POST', headers: {'Content-Type':'application/json','X-API-Key': 'arquitai-qmcipaAHcGGWWolSz+psvmx2DEALwNbX'}, body: JSON.stringify({project_id:'not-a-uuid'}), expected_status: 500, expected_status_alt: 400, label: 'UUID malformado debe rechazarse' },\n  { name: 'missing_required', url: N8N + '/webhook/audit-project', method: 'POST', headers: {'Content-Type':'application/json','X-API-Key': 'arquitai-qmcipaAHcGGWWolSz+psvmx2DEALwNbX'}, body: JSON.stringify({}), expected_status: 400, label: 'Campos requeridos faltantes' },\n  { name: 'client_ask_no_token', url: N8N + '/webhook/client-ask', method: 'POST', headers: {'Content-Type':'application/json'}, body: JSON.stringify({question:'test'}), expected_status: 400, label: 'client-ask sin token' },\n  { name: 'client_ask_bad_token', url: N8N + '/webhook/client-ask', method: 'POST', headers: {'Content-Type':'application/json'}, body: JSON.stringify({token:'bad_token_xxx', question:'esta es una pregunta valida con suficiente texto'}), expected_status: 401, expected_status_alt: 400, label: 'client-ask con token invalido' },\n  { name: 'aftercare_form_no_token', url: N8N + '/webhook/aftercare-public-form', method: 'GET', headers: {}, body: null, expected_status: 404, expected_status_alt: 200, label: 'aftercare form sin token devuelve HTML 404 estructurado' },\n  { name: 'aftercare_form_bad_token', url: N8N + '/webhook/aftercare-public-form?token=invalid', method: 'GET', headers: {}, body: null, expected_status: 200, expected_status_alt: 404, label: 'aftercare form con token bad' },\n  { name: 'project_summary_bad_token', url: N8N + '/webhook/project-summary?token=invalid', method: 'GET', headers: {}, body: null, expected_status: 200, expected_status_alt: 404, label: 'project_summary token bad' },\n  { name: 'gdpr_no_token', url: N8N + '/webhook/gdpr-request', method: 'POST', headers: {'Content-Type':'application/json'}, body: JSON.stringify({request_type:'access'}), expected_status: 400, label: 'GDPR sin token' }\n];\nreturn tests.map(t => ({ json: t }));"
      }
    },
    {
      "id": "pt-04",
      "name": "Run Test",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -220,
        400
      ],
      "parameters": {
        "method": "={{ $json.method }}",
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{ JSON.stringify($json.headers) }}",
        "sendBody": "={{ $json.body !== null }}",
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": true
            }
          }
        }
      }
    },
    {
      "id": "pt-05",
      "name": "Evaluate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        400
      ],
      "parameters": {
        "jsCode": "const all = $input.all();\nconst tests = $('Define Tests').all();\nconst results = all.map((r, i) => {\n  const t = tests[i].json;\n  const actual = r.json.statusCode || r.json.status || r.statusCode || 0;\n  const passed = actual === t.expected_status || (t.expected_status_alt && actual === t.expected_status_alt);\n  return {\n    name: t.name,\n    label: t.label,\n    expected: t.expected_status_alt ? `${t.expected_status} or ${t.expected_status_alt}` : String(t.expected_status),\n    actual: actual,\n    passed: passed\n  };\n});\nconst total = results.length;\nconst pass_count = results.filter(r => r.passed).length;\nconst fail_count = total - pass_count;\nreturn [{ json: { total, pass_count, fail_count, score_pct: Math.round(100 * pass_count / total), results } }];"
      }
    },
    {
      "id": "pt-06",
      "name": "Log Findings",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        260,
        400
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO security_events (event_type, severity, source_ip, endpoint, resource_type, description, details, alert_sent)\nSELECT 'pen_test_finding', CASE WHEN $2::int > 0 THEN 'high' ELSE 'info' END,\n       'cron', 'cron_security_pentest_lite', 'pentest',\n       'Pen-test lite: ' || $1 || '/' || $3 || ' tests OK (' || $4 || '%)',\n       $5::jsonb,\n       false\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ [ $json.pass_count, $json.fail_count, $json.total, $json.score_pct, JSON.stringify({results: $json.results}) ] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "cfxNZdzy0NB3xkYC",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "pt-07",
      "name": "Has Failures?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        500,
        400
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "h1",
              "leftValue": "={{ Number($('Evaluate').first().json.fail_count) || 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "pt-08",
      "name": "Load Architect Email",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        740,
        320
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT value FROM system_config WHERE key = 'architect_email'",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "cfxNZdzy0NB3xkYC",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "pt-09",
      "name": "Send Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        980,
        320
      ],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.value }}",
        "subject": "=Security Pen-Test Lite — {{ $('Evaluate').first().json.fail_count }}/{{ $('Evaluate').first().json.total }} fallidos",
        "emailType": "html",
        "message": "=<div style=\"font-family:Arial,sans-serif;max-width:680px;margin:0 auto\"><h2 style=\"color:#e74c3c\">Pen-test lite — fallos detectados</h2><p>Score: <b>{{ $('Evaluate').first().json.score_pct }}%</b> ({{ $('Evaluate').first().json.pass_count }}/{{ $('Evaluate').first().json.total }} OK)</p><table border=\"1\" cellpadding=\"6\" style=\"border-collapse:collapse;font-size:13px\"><thead><tr style=\"background:#f3f4f6\"><th>Test</th><th>Esperado</th><th>Real</th><th>Resultado</th></tr></thead><tbody>{{ ($('Evaluate').first().json.results || []).map(r => '<tr' + (r.passed ? '' : ' style=\"background:#ffe0e0\"') + '><td>' + r.label + '</td><td>' + r.expected + '</td><td>' + r.actual + '</td><td>' + (r.passed ? '✅' : '❌') + '</td></tr>').join('') }}</tbody></table><p style=\"font-size:11px;color:#7f8c8d\">Cualquier fallo aqui significa que un endpoint NO esta rechazando lo que deberia. Investigar inmediatamente.</p></div>",
        "options": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "cIma8ntTjZvIfU3H",
          "name": "damian2botella"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "pt-10",
      "name": "Done",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1220,
        400
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d1",
              "name": "status",
              "value": "completed",
              "type": "string"
            },
            {
              "id": "d2",
              "name": "score_pct",
              "value": "={{ $('Evaluate').first().json.score_pct }}",
              "type": "number"
            },
            {
              "id": "d3",
              "name": "fail_count",
              "value": "={{ $('Evaluate').first().json.fail_count }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule Weekly Sun 04:00": {
      "main": [
        [
          {
            "node": "Define Tests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Define Tests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define Tests": {
      "main": [
        [
          {
            "node": "Run Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Test": {
      "main": [
        [
          {
            "node": "Evaluate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate": {
      "main": [
        [
          {
            "node": "Log Findings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Findings": {
      "main": [
        [
          {
            "node": "Has Failures?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Failures?": {
      "main": [
        [
          {
            "node": "Load Architect Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Architect Email": {
      "main": [
        [
          {
            "node": "Send Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Alert": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "qfQWaGSpyjgdeFt5",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}