studio-multiagente/workflows/cron_contract_followup.json
{
  "name": "cron_contract_followup",
  "nodes": [
    {
      "id": "ccf-01",
      "name": "Schedule Daily 09:50",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -700,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1,
              "triggerAtHour": 9,
              "triggerAtMinute": 50
            }
          ]
        }
      }
    },
    {
      "id": "ccf-02",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -700,
        500
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-contract-followup",
        "responseMode": "lastNode",
        "authentication": "headerAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ba643jvuElTgMawr",
          "name": "Webhook API Key (entrante)"
        }
      },
      "webhookId": "ccf-manual-webhook"
    },
    {
      "id": "ccf-03",
      "name": "Load Architect Email",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -460,
        400
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT value FROM system_config WHERE key = 'architect_email'",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "cfxNZdzy0NB3xkYC",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "ccf-04",
      "name": "Find Stuck Contracts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -220,
        400
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH issues AS (\n  SELECT c.id, c.project_id, c.contract_type, c.title, c.status, c.amount_eur,\n         c.generated_at, c.sent_at, c.expires_at,\n         EXTRACT(DAY FROM now() - c.generated_at)::int AS days_since_generated,\n         CASE WHEN c.sent_at IS NOT NULL THEN EXTRACT(DAY FROM now() - c.sent_at)::int ELSE NULL END AS days_since_sent,\n         CASE WHEN c.expires_at IS NOT NULL THEN EXTRACT(DAY FROM c.expires_at - now())::int ELSE NULL END AS days_to_expiry,\n         CASE\n           WHEN c.status = 'draft' AND c.generated_at < now() - INTERVAL '5 days' THEN 'draft_unsent_5d'\n           WHEN c.status IN ('sent','ready_to_sign') AND c.sent_at < now() - INTERVAL '7 days' THEN 'sent_unsigned_7d'\n           WHEN c.status IN ('sent','ready_to_sign','draft') AND c.expires_at IS NOT NULL AND c.expires_at < now() THEN 'expired'\n           WHEN c.status IN ('sent','ready_to_sign','draft') AND c.expires_at IS NOT NULL AND c.expires_at BETWEEN now() AND (now() + INTERVAL '5 days') THEN 'expiring_soon_5d'\n           ELSE NULL\n         END AS issue_type,\n         p.name AS project_name\n  FROM contracts c\n  JOIN projects p ON p.id = c.project_id\n  WHERE c.status NOT IN ('signed','cancelled','rejected')\n)\nSELECT json_agg(issues.* ORDER BY (CASE issue_type\n  WHEN 'expired' THEN 1 WHEN 'expiring_soon_5d' THEN 2\n  WHEN 'sent_unsigned_7d' THEN 3 WHEN 'draft_unsent_5d' THEN 4 ELSE 9 END), days_since_generated DESC) AS rows,\n       count(*) FILTER (WHERE issue_type IS NOT NULL) AS issue_count\n  FROM issues\n  WHERE issue_type IS NOT NULL;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "cfxNZdzy0NB3xkYC",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "id": "ccf-05",
      "name": "Has Issues?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        20,
        400
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "h1",
              "leftValue": "={{ Number($json.issue_count) || 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "ccf-06",
      "name": "Build Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        320
      ],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst issueColors = {\n  expired: '#e74c3c',\n  expiring_soon_5d: '#e67e22',\n  sent_unsigned_7d: '#f1c40f',\n  draft_unsent_5d: '#3498db'\n};\nconst issueLabels = {\n  expired: 'EXPIRADO',\n  expiring_soon_5d: 'Expira en < 5d',\n  sent_unsigned_7d: 'Enviado sin firmar > 7d',\n  draft_unsent_5d: 'Draft sin enviar > 5d'\n};\nconst rows = (data.rows || []).map(r => {\n  const color = issueColors[r.issue_type] || '#7f8c8d';\n  const label = issueLabels[r.issue_type] || r.issue_type;\n  return '<tr>' +\n    '<td><span style=\\\"background:' + color + ';color:white;padding:3px 8px;border-radius:12px;font-size:11px\\\">' + label + '</span></td>' +\n    '<td><b>' + r.project_name + '</b></td>' +\n    '<td>' + r.contract_type + '<br><small style=\\\"color:#7f8c8d\\\">' + r.title.substring(0,60) + '</small></td>' +\n    '<td>' + r.status + '<br><small>' + r.days_since_generated + 'd desde generado' + (r.days_since_sent !== null ? ' • ' + r.days_since_sent + 'd desde envio' : '') + '</small></td>' +\n    '<td>' + (r.expires_at ? r.expires_at.substring(0,10) + (r.days_to_expiry !== null ? '<br><small>' + r.days_to_expiry + 'd</small>' : '') : '—') + '</td>' +\n    '<td>' + (r.amount_eur || '?') + ' EUR</td>' +\n    '</tr>';\n}).join('');\nconst html = '<h2>Contratos pendientes de gestionar</h2>' +\n  '<p>Total: <b>' + data.issue_count + '</b>. Marcar como signed (POST /webhook/contract-signed) o cancelar.</p>' +\n  '<table border=\\\"1\\\" cellpadding=\\\"6\\\" cellspacing=\\\"0\\\" style=\\\"border-collapse:collapse;font-family:sans-serif;font-size:13px\\\">' +\n  '<thead><tr style=\\\"background:#f3f4f6\\\"><th>Incidencia</th><th>Proyecto</th><th>Contrato</th><th>Estado</th><th>Expira</th><th>Importe</th></tr></thead>' +\n  '<tbody>' + rows + '</tbody></table>';\nreturn [{ json: { html_body: html, count: data.issue_count } }];"
      }
    },
    {
      "id": "ccf-07",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        500,
        320
      ],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $('Load Architect Email').first().json.value }}",
        "subject": "=ArquitAI — {{ $json.count }} contrato(s) pendiente(s) de gestionar",
        "emailType": "html",
        "message": "={{ $json.html_body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "cIma8ntTjZvIfU3H",
          "name": "damian2botella"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "ccf-08",
      "name": "Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        740,
        320
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO activity_log (project_id, agent_name, action, status, input_summary)\nVALUES (NULL, 'cron_contract_followup', 'review_pending_contracts', 'success', $1)\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ [ ('issues=' + $json.count) ] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "cfxNZdzy0NB3xkYC",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "ccf-09",
      "name": "Nothing Stuck",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        260,
        480
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "Schedule Daily 09:50": {
      "main": [
        [
          {
            "node": "Load Architect Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Load Architect Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Architect Email": {
      "main": [
        [
          {
            "node": "Find Stuck Contracts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Stuck Contracts": {
      "main": [
        [
          {
            "node": "Has Issues?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Issues?": {
      "main": [
        [
          {
            "node": "Build Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nothing Stuck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "qfQWaGSpyjgdeFt5",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}