studio-multiagente/workflows/cron_collab_review.json
{
  "name": "cron_collab_review",
  "nodes": [
    {
      "id": "ccr-01",
      "name": "Schedule Daily 09:45",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -700,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1,
              "triggerAtHour": 9,
              "triggerAtMinute": 45
            }
          ]
        }
      }
    },
    {
      "id": "ccr-02",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -700,
        500
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-collab-review",
        "responseMode": "lastNode",
        "authentication": "headerAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ba643jvuElTgMawr",
          "name": "Webhook API Key (entrante)"
        }
      },
      "webhookId": "ccr-manual-webhook"
    },
    {
      "id": "ccr-03",
      "name": "Load Architect Email",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -460,
        400
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT value FROM system_config WHERE key = 'architect_email'",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "cfxNZdzy0NB3xkYC",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "ccr-04",
      "name": "Find Stuck Assignments",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -220,
        400
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH issues AS (\n  SELECT ca.id, ca.project_id, ca.collaborator_id, ca.role, ca.scope, ca.status, ca.deadline, ca.fee_eur,\n         ca.invited_at, ca.accepted_at, ca.delivered_at,\n         EXTRACT(DAY FROM now() - ca.invited_at)::int AS days_since_invited,\n         CASE WHEN ca.deadline IS NOT NULL THEN EXTRACT(DAY FROM ca.deadline::timestamp - now())::int ELSE NULL END AS days_to_deadline,\n         CASE\n           WHEN ca.status = 'invited' AND ca.invited_at < now() - INTERVAL '5 days' THEN 'invitation_no_response_5d'\n           WHEN ca.status = 'accepted' AND ca.deadline IS NOT NULL AND ca.deadline < now()::date THEN 'accepted_overdue'\n           WHEN ca.status = 'in_progress' AND ca.deadline IS NOT NULL AND ca.deadline < now()::date THEN 'in_progress_overdue'\n           WHEN ca.status = 'delivered' AND ca.delivered_at < now() - INTERVAL '7 days' THEN 'delivered_pending_review_7d'\n           WHEN ca.status IN ('accepted','in_progress') AND ca.deadline IS NOT NULL AND ca.deadline BETWEEN now()::date AND (now() + INTERVAL '3 days')::date THEN 'deadline_soon_3d'\n           ELSE NULL\n         END AS issue_type,\n         p.name AS project_name,\n         c.name AS collab_name, c.email AS collab_email, c.specialty\n  FROM collab_assignments ca\n  JOIN projects p ON p.id = ca.project_id\n  JOIN collaborators c ON c.id = ca.collaborator_id\n  WHERE ca.status NOT IN ('approved','closed','cancelled','rejected','rejected_delivery')\n)\nSELECT json_agg(issues.* ORDER BY (CASE issue_type\n  WHEN 'accepted_overdue' THEN 1 WHEN 'in_progress_overdue' THEN 2\n  WHEN 'invitation_no_response_5d' THEN 3 WHEN 'delivered_pending_review_7d' THEN 4\n  WHEN 'deadline_soon_3d' THEN 5 ELSE 9 END), days_since_invited DESC) AS rows,\n       count(*) FILTER (WHERE issue_type IS NOT NULL) AS issue_count\n  FROM issues\n  WHERE issue_type IS NOT NULL;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "cfxNZdzy0NB3xkYC",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "id": "ccr-05",
      "name": "Has Issues?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        20,
        400
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "h1",
              "leftValue": "={{ Number($json.issue_count) || 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "ccr-06",
      "name": "Build Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        320
      ],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst issueColors = {\n  accepted_overdue: '#e74c3c',\n  in_progress_overdue: '#e74c3c',\n  invitation_no_response_5d: '#e67e22',\n  delivered_pending_review_7d: '#9b59b6',\n  deadline_soon_3d: '#f1c40f'\n};\nconst issueLabels = {\n  accepted_overdue: 'Aceptado pero sin entregar (deadline pasado)',\n  in_progress_overdue: 'En progreso pero deadline pasado',\n  invitation_no_response_5d: 'Invitacion sin respuesta > 5d',\n  delivered_pending_review_7d: 'Entregado pendiente revision Damian > 7d',\n  deadline_soon_3d: 'Deadline en proximos 3 dias'\n};\nconst rows = (data.rows || []).map(r => {\n  const color = issueColors[r.issue_type] || '#7f8c8d';\n  const label = issueLabels[r.issue_type] || r.issue_type;\n  return '<tr>' +\n    '<td><span style=\\\"background:' + color + ';color:white;padding:3px 8px;border-radius:12px;font-size:11px\\\">' + label + '</span></td>' +\n    '<td><b>' + r.project_name + '</b><br><small>' + r.role + '</small></td>' +\n    '<td>' + r.collab_name + '<br><small style=\\\"color:#7f8c8d\\\">' + r.specialty + ' — ' + r.collab_email + '</small></td>' +\n    '<td>' + r.status + '<br><small>' + r.days_since_invited + 'd desde invitacion</small></td>' +\n    '<td>' + (r.deadline ? r.deadline.substring(0,10) + (r.days_to_deadline !== null ? '<br><small>' + r.days_to_deadline + 'd</small>' : '') : '—') + '</td>' +\n    '<td>' + (r.fee_eur || '?') + ' EUR</td>' +\n    '</tr>';\n}).join('');\nconst html = '<h2>Colaboradores con incidencias</h2>' +\n  '<p>Total: <b>' + data.issue_count + '</b>. Revisar y actualizar status (POST /webhook/collab-update).</p>' +\n  '<table border=\\\"1\\\" cellpadding=\\\"6\\\" cellspacing=\\\"0\\\" style=\\\"border-collapse:collapse;font-family:sans-serif;font-size:13px\\\">' +\n  '<thead><tr style=\\\"background:#f3f4f6\\\"><th>Incidencia</th><th>Proyecto/Rol</th><th>Colaborador</th><th>Estado</th><th>Deadline</th><th>Honorarios</th></tr></thead>' +\n  '<tbody>' + rows + '</tbody></table>';\nreturn [{ json: { html_body: html, count: data.issue_count } }];"
      }
    },
    {
      "id": "ccr-07",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        500,
        320
      ],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $('Load Architect Email').first().json.value }}",
        "subject": "=ArquitAI — {{ $json.count }} colaborador(es) con incidencias",
        "emailType": "html",
        "message": "={{ $json.html_body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "cIma8ntTjZvIfU3H",
          "name": "damian2botella"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "ccr-08",
      "name": "Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        740,
        320
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO activity_log (project_id, agent_name, action, status, input_summary)\nVALUES (NULL, 'cron_collab_review', 'review_stuck_collabs', 'success', $1)\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ [ ('issues=' + $json.count) ] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "cfxNZdzy0NB3xkYC",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "ccr-09",
      "name": "Nothing Stuck",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        260,
        480
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "Schedule Daily 09:45": {
      "main": [
        [
          {
            "node": "Load Architect Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Load Architect Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Architect Email": {
      "main": [
        [
          {
            "node": "Find Stuck Assignments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Stuck Assignments": {
      "main": [
        [
          {
            "node": "Has Issues?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Issues?": {
      "main": [
        [
          {
            "node": "Build Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nothing Stuck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "qfQWaGSpyjgdeFt5",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}