studio-multiagente/workflows/error_handler.json
{
  "name": "error_handler",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "id": "c1d2e3f4-a5b6-4c7d-8e9f-000000000001",
      "name": "On Workflow Error"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const error = $input.first().json;\n\nconst workflowName  = error.workflow?.name     || 'unknown_workflow';\nconst executionId   = error.execution?.id      || 'unknown_execution';\nconst errorMessage  = error.execution?.error?.message || error.error?.message || 'Error desconocido';\nconst errorNode     = error.execution?.lastNodeExecuted || 'unknown_node';\nconst timestamp     = new Date().toISOString();\n\nlet projectId = null;\ntry {\n  const execData = error.execution?.data?.resultData?.runData;\n  if (execData) {\n    for (const nodeName of Object.keys(execData)) {\n      const nodeRuns = execData[nodeName];\n      if (nodeRuns && nodeRuns[0] && nodeRuns[0].data && nodeRuns[0].data.main) {\n        const items = nodeRuns[0].data.main[0];\n        if (items && items[0] && items[0].json && items[0].json.project_id) {\n          const pid = items[0].json.project_id;\n          if (/^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i.test(pid)) {\n            projectId = pid;\n            break;\n          }\n        }\n      }\n    }\n  }\n} catch(e) {}\n\nconst criticalWorkflows = ['main_orchestrator', 'agent_proposal', 'agent_trades', 'init_new_project'];\nconst isCritical = criticalWorkflows.includes(workflowName);\n\n// Excluir workflows temporales/test/debug del envio de emails (siguen logueando)\nconst silentPattern = /(_TEMP$|^debug|^test_|TEMP|migration_)/i;\nconst isSilentWorkflow = silentPattern.test(workflowName);\n\nreturn [{\n  json: {\n    workflow_name:    workflowName,\n    execution_id:     executionId,\n    error_message:    errorMessage,\n    error_node:       errorNode,\n    project_id:       projectId,\n    is_critical:      isCritical,\n    is_silent:        isSilentWorkflow,\n    timestamp:        timestamp,\n    error_summary:    `[${workflowName}] Nodo: ${errorNode} — ${errorMessage.substring(0, 300)}`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300],
      "id": "c1d2e3f4-a5b6-4c7d-8e9f-000000000002",
      "name": "Extract Error Details"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO activity_log (project_id, agent_name, action, status, error_message, output_summary) VALUES ($1::uuid, $2, 'workflow_error', 'error', $3, $4)",
        "options": {
          "queryReplacement": "={{ [$json.project_id, $json.workflow_name, $json.error_message.substring(0, 500), $json.error_summary] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "PLACEHOLDER",
          "name": "Postgres account"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [750, 300],
      "id": "c1d2e3f4-a5b6-4c7d-8e9f-000000000003",
      "name": "Log Error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1d2e3f4-a5b6-4c7d-8e9f-000000000041",
              "leftValue": "={{ $('Extract Error Details').first().json.is_critical }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1000, 300],
      "id": "c1d2e3f4-a5b6-4c7d-8e9f-000000000004",
      "name": "Critical Workflow?"
    },
    {
      "parameters": {
        "sendTo": "botelladesdeel98@gmail.com",
        "subject": "=[CRÍTICO] Error en {{ $('Extract Error Details').first().json.workflow_name }}",
        "emailType": "html",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px;\">\n  <h2 style=\"color: #e74c3c;\">🚨 Error crítico en el sistema</h2>\n  <table style=\"width:100%; border-collapse: collapse;\">\n    <tr><td style=\"padding:8px; background:#f8f9fa; font-weight:bold;\">Workflow</td><td style=\"padding:8px;\">{{ $('Extract Error Details').first().json.workflow_name }}</td></tr>\n    <tr><td style=\"padding:8px; background:#f8f9fa; font-weight:bold;\">Nodo</td><td style=\"padding:8px;\">{{ $('Extract Error Details').first().json.error_node }}</td></tr>\n    <tr><td style=\"padding:8px; background:#f8f9fa; font-weight:bold;\">Error</td><td style=\"padding:8px; color:#e74c3c;\">{{ $('Extract Error Details').first().json.error_message }}</td></tr>\n    <tr><td style=\"padding:8px; background:#f8f9fa; font-weight:bold;\">Ejecución</td><td style=\"padding:8px;\">{{ $('Extract Error Details').first().json.execution_id }}</td></tr>\n    <tr><td style=\"padding:8px; background:#f8f9fa; font-weight:bold;\">Proyecto</td><td style=\"padding:8px;\">{{ $('Extract Error Details').first().json.project_id || 'No disponible' }}</td></tr>\n    <tr><td style=\"padding:8px; background:#f8f9fa; font-weight:bold;\">Hora</td><td style=\"padding:8px;\">{{ $('Extract Error Details').first().json.timestamp }}</td></tr>\n  </table>\n  <p style=\"margin-top:20px;\"><a href=\"https://n8n-n8n.zzeluw.easypanel.host/executions\" style=\"background:#e74c3c; color:white; padding:10px 20px; text-decoration:none; border-radius:4px;\">Ver ejecución en n8n</a></p>\n</div>",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "PLACEHOLDER",
          "name": "Gmail DamianDomeya@"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1250, 160],
      "id": "c1d2e3f4-a5b6-4c7d-8e9f-000000000005",
      "name": "Send Critical Alert"
    },
    {
      "parameters": {
        "sendTo": "botelladesdeel98@gmail.com",
        "subject": "=[ERROR] {{ $('Extract Error Details').first().json.workflow_name }} falló",
        "emailType": "html",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px;\">\n  <h2 style=\"color: #e67e22;\">⚠️ Error en workflow</h2>\n  <table style=\"width:100%; border-collapse: collapse;\">\n    <tr><td style=\"padding:8px; background:#f8f9fa; font-weight:bold;\">Workflow</td><td style=\"padding:8px;\">{{ $('Extract Error Details').first().json.workflow_name }}</td></tr>\n    <tr><td style=\"padding:8px; background:#f8f9fa; font-weight:bold;\">Nodo</td><td style=\"padding:8px;\">{{ $('Extract Error Details').first().json.error_node }}</td></tr>\n    <tr><td style=\"padding:8px; background:#f8f9fa; font-weight:bold;\">Error</td><td style=\"padding:8px;\">{{ $('Extract Error Details').first().json.error_message }}</td></tr>\n    <tr><td style=\"padding:8px; background:#f8f9fa; font-weight:bold;\">Ejecución</td><td style=\"padding:8px;\">{{ $('Extract Error Details').first().json.execution_id }}</td></tr>\n    <tr><td style=\"padding:8px; background:#f8f9fa; font-weight:bold;\">Hora</td><td style=\"padding:8px;\">{{ $('Extract Error Details').first().json.timestamp }}</td></tr>\n  </table>\n  <p style=\"margin-top:20px;\"><a href=\"https://n8n-n8n.zzeluw.easypanel.host/executions\" style=\"background:#e67e22; color:white; padding:10px 20px; text-decoration:none; border-radius:4px;\">Ver ejecución en n8n</a></p>\n</div>",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "PLACEHOLDER",
          "name": "Gmail DamianDomeya@"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1250, 440],
      "id": "c1d2e3f4-a5b6-4c7d-8e9f-000000000006",
      "name": "Send Error Notice"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT count(*) AS recent_count FROM activity_log WHERE agent_name = $1 AND action = 'workflow_error' AND created_at > now() - INTERVAL '60 minutes'",
        "options": {
          "queryReplacement": "={{ [ $('Extract Error Details').first().json.workflow_name ] }}"
        }
      },
      "credentials": {
        "postgres": { "id": "PLACEHOLDER", "name": "Postgres account" }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [870, 300],
      "id": "eh-09",
      "name": "Count Recent Same Error"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 2, "leftValue": "", "caseSensitive": false, "typeValidation": "loose" },
          "combinator": "and",
          "conditions": [
            { "id": "se1", "leftValue": "={{ $('Extract Error Details').first().json.is_silent }}", "rightValue": false, "operator": { "type": "boolean", "operation": "false", "singleValue": true } },
            { "id": "se2", "leftValue": "={{ Number($json.recent_count) || 0 }}", "rightValue": 1, "operator": { "type": "number", "operation": "lte" } }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1110, 300],
      "id": "eh-10",
      "name": "Should Email?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1370, 600],
      "id": "eh-11",
      "name": "Suppressed"
    }
  ],
  "connections": {
    "On Workflow Error": {
      "main": [
        [{ "node": "Extract Error Details", "type": "main", "index": 0 }]
      ]
    },
    "Extract Error Details": {
      "main": [
        [{ "node": "Log Error", "type": "main", "index": 0 }]
      ]
    },
    "Log Error": {
      "main": [
        [{ "node": "Count Recent Same Error", "type": "main", "index": 0 }]
      ]
    },
    "Count Recent Same Error": {
      "main": [
        [{ "node": "Should Email?", "type": "main", "index": 0 }]
      ]
    },
    "Should Email?": {
      "main": [
        [{ "node": "Critical Workflow?", "type": "main", "index": 0 }],
        [{ "node": "Suppressed",         "type": "main", "index": 0 }]
      ]
    },
    "Critical Workflow?": {
      "main": [
        [{ "node": "Send Critical Alert", "type": "main", "index": 0 }],
        [{ "node": "Send Error Notice",   "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": ""
  },
  "pinData": {}
}
