studio-multiagente/workflows/util_consultation.json
{
  "name": "util_consultation",
  "nodes": [
    {
      "parameters": {
        "inputSource": "defineBelow",
        "workflowInputs": {
          "values": [
            { "name": "project_id",        "type": "string" },
            { "name": "agent_name",         "type": "string" },
            { "name": "consultation_type",  "type": "string" },
            { "name": "message",            "type": "string" },
            { "name": "context",            "type": "object" }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "id": "uc000001-0000-0000-0000-000000000001",
      "name": "Receive Consultation"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT is_online FROM architect_status WHERE id = 1",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "PLACEHOLDER",
          "name": "Postgres account"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [500, 300],
      "id": "uc000001-0000-0000-0000-000000000002",
      "name": "Check Architect Online"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO consultation_queue (project_id, agent_name, consultation_type, message, context) VALUES ($1::uuid, $2, $3, $4, $5::jsonb) RETURNING id",
        "options": {
          "queryReplacement": "={{ [\n  $('Receive Consultation').first().json.project_id || null,\n  $('Receive Consultation').first().json.agent_name,\n  $('Receive Consultation').first().json.consultation_type,\n  $('Receive Consultation').first().json.message,\n  JSON.stringify($('Receive Consultation').first().json.context || {})\n] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "PLACEHOLDER",
          "name": "Postgres account"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [750, 300],
      "id": "uc000001-0000-0000-0000-000000000003",
      "name": "Queue Consultation"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "uc000001-cond-0001",
              "leftValue": "={{ $('Receive Consultation').first().json.consultation_type }}",
              "rightValue": "directive_conflict",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1000, 300],
      "id": "uc000001-0000-0000-0000-000000000004",
      "name": "Is Directive Conflict?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $workflow.id }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "project_id":   "={{ $('Receive Consultation').first().json.project_id }}",
            "type":         "alert",
            "subject":      "CONFLICTO DE DIRECTIVA — Respuesta requerida",
            "message":      "=⚠️ CONFLICTO DE DIRECTIVA detectado por {{ $('Receive Consultation').first().json.agent_name }}:\n\n{{ $('Receive Consultation').first().json.message }}",
            "approval_id":  "",
            "recipient":    "botelladesdeel98@gmail.com"
          }
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1250, 180],
      "id": "uc000001-0000-0000-0000-000000000005",
      "name": "Send Conflict Alert"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "uc000001-set-0001",
              "name": "queued",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "uc000001-set-0002",
              "name": "channel",
              "value": "={{ $('Check Architect Online').first().json.is_online ? 'realtime' : 'queued' }}",
              "type": "string"
            },
            {
              "id": "uc000001-set-0003",
              "name": "consultation_id",
              "value": "={{ $('Queue Consultation').first().json.id }}",
              "type": "string"
            },
            {
              "id": "uc000001-set-0004",
              "name": "immediate_email",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": false
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1500, 300],
      "id": "uc000001-0000-0000-0000-000000000006",
      "name": "Return Result"
    }
  ],
  "connections": {
    "Receive Consultation": {
      "main": [[{ "node": "Check Architect Online", "type": "main", "index": 0 }]]
    },
    "Check Architect Online": {
      "main": [[{ "node": "Queue Consultation", "type": "main", "index": 0 }]]
    },
    "Queue Consultation": {
      "main": [[{ "node": "Is Directive Conflict?", "type": "main", "index": 0 }]]
    },
    "Is Directive Conflict?": {
      "main": [
        [{ "node": "Send Conflict Alert", "type": "main", "index": 0 }],
        [{ "node": "Return Result", "type": "main", "index": 0 }]
      ]
    },
    "Send Conflict Alert": {
      "main": [[{ "node": "Return Result", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
