studio-multiagente/workflows/util_admin_index_html.json
{
  "name": "util_admin_index_html",
  "nodes": [
    {
      "id": "ai-01",
      "name": "Webhook GET",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-700, 300],
      "parameters": {
        "httpMethod": "GET",
        "path": "admin-index",
        "responseMode": "responseNode",
        "authentication": "headerAuth"
      },
      "credentials": { "httpHeaderAuth": { "id": "Ba643jvuElTgMawr", "name": "Webhook API Key (entrante)" } },
      "webhookId": "ai-trigger"
    },
    {
      "id": "ai-02",
      "name": "Quick Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-460, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT json_build_object(\n  'projects_active', (SELECT count(*) FROM projects WHERE status='active' AND current_phase NOT IN ('completed','archived')),\n  'critical_unresolved', (SELECT count(*) FROM security_events WHERE resolved=false AND severity='critical'),\n  'ips_blocked', (SELECT count(*) FROM ip_blocklist WHERE blocked_until > now()),\n  'consultations_pending', (SELECT count(*) FROM consultation_queue WHERE status='pending'),\n  'aftercare_urgent', (SELECT count(*) FROM aftercare_incidents WHERE status NOT IN ('resolved','closed','cancelled') AND severity IN ('high','critical')),\n  'errors_24h', (SELECT count(*) FROM activity_log WHERE action='workflow_error' AND created_at > now() - INTERVAL '24 hours'),\n  'llm_cost_30d', COALESCE(round((SELECT sum(cost_usd) FROM llm_calls WHERE occurred_at > now() - INTERVAL '30 days')::numeric, 2), 0),\n  'last_pen_test', (SELECT to_char(max(occurred_at), 'YYYY-MM-DD HH24:MI') FROM security_events WHERE event_type='pen_test_finding')\n) AS stats;",
        "options": {}
      },
      "credentials": { "postgres": { "id": "cfxNZdzy0NB3xkYC", "name": "Postgres account" } }
    },
    {
      "id": "ai-03",
      "name": "Build HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-220, 300],
      "parameters": {
        "jsCode": "const s = $input.first().json.stats || {};\nconst card = (label, value, color, link) => {\n  const inner = '<div style=\"font-size:11px;color:#6b7280;text-transform:uppercase;letter-spacing:.5px\">'+label+'</div><div style=\"font-size:24px;font-weight:bold;color:#1f2937;margin-top:6px\">'+(value!=null?value:'-')+'</div>';\n  return link ? '<a href=\"'+link+'\" style=\"text-decoration:none;display:block;background:'+(color||'#f9fafb')+';padding:14px;border-radius:8px;flex:1;min-width:140px;border:1px solid #e5e7eb\">'+inner+'</a>'\n              : '<div style=\"background:'+(color||'#f9fafb')+';padding:14px;border-radius:8px;flex:1;min-width:140px\">'+inner+'</div>';\n};\nconst section = (title, items) => '<h2 style=\"color:#374151;font-size:14px;text-transform:uppercase;letter-spacing:1px;margin:24px 0 8px\">'+title+'</h2><div class=\"links\">'+items+'</div>';\nconst link = (href, label, descr) => '<a href=\"'+href+'\" style=\"display:block;background:white;padding:12px 16px;border-radius:6px;text-decoration:none;color:#1f2937;border:1px solid #e5e7eb;flex:1;min-width:240px\"><div style=\"font-weight:600;font-size:14px\">'+label+'</div><div style=\"font-size:12px;color:#6b7280;margin-top:2px\">'+descr+'</div></a>';\nconst html = '<!DOCTYPE html><html lang=\"es\"><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"><title>ArquitAI Admin</title>' +\n'<style>body{font-family:-apple-system,Arial,sans-serif;max-width:1100px;margin:24px auto;padding:16px;color:#1f2937;background:#f3f4f6}h1{color:#0f172a;margin:0}.cards{display:flex;gap:12px;flex-wrap:wrap;margin:16px 0}.links{display:flex;gap:10px;flex-wrap:wrap}.meta{color:#64748b;font-size:13px}a:hover{background:#eef2ff !important}</style>' +\n'</head><body>' +\n'<h1>ArquitAI Admin</h1>' +\n'<div class=\"meta\">Estudio Damian Martinez — ' + new Date().toLocaleString('es-ES') + '</div>' +\n'<div class=\"cards\">' +\n  card('Proyectos activos', s.projects_active||0, '#eef2ff') +\n  card('Critical unresolved', s.critical_unresolved||0, (s.critical_unresolved||0)>0?'#fee2e2':'#f0fdf4') +\n  card('IPs bloqueadas', s.ips_blocked||0, (s.ips_blocked||0)>0?'#fef3c7':'#f0fdf4') +\n  card('Consultas pending', s.consultations_pending||0, (s.consultations_pending||0)>0?'#fef3c7':null) +\n  card('Aftercare urgent', s.aftercare_urgent||0, (s.aftercare_urgent||0)>0?'#fee2e2':null) +\n  card('Errores 24h', s.errors_24h||0, (s.errors_24h||0)>0?'#fee2e2':null) +\n  card('Coste LLM 30d', s.llm_cost_30d||0, '#f0fdf4') +\n'</div>' +\n\nsection('Dashboards web', \n  link('/webhook/dashboard-html', 'Dashboard estudio', 'KPIs de proyectos, finance, concierge') +\n  link('/webhook/security-dashboard-html', 'Security dashboard', 'Eventos, blocklist, top IPs') +\n  link('/webhook/llm-costs-html', 'Costes LLM', 'Por agente, proyecto y modelo')\n) +\n\nsection('Endpoints JSON',\n  link('/webhook/dashboard-summary', 'Dashboard JSON', 'Mismo dato del web pero estructurado') +\n  link('/webhook/security-dashboard', 'Security JSON', 'Para parser/automatizacion')\n) +\n\nsection('Operaciones internas',\n  '<div style=\"background:white;padding:12px;border-radius:6px;font-size:13px;color:#374151\"><b>Crons activos</b>: 13 (health_check 06:00, blocklist_cleanup 04:00, events_auto_resolve 02:30, access_log_purge 04:30, stuck_executions hourly, data_integrity 05:30, key_rotation_reminder mensual, security_pentest semanal, security_dashboard_alert semanal, events_purge semanal, project_review 6h, qc_review semanal, weekly_summary domingo).</div>' +\n  '<div style=\"background:white;padding:12px;border-radius:6px;font-size:13px;color:#374151\"><b>Ultimo pen-test</b>: '+(s.last_pen_test||'(nunca)')+'</div>'\n) +\n\nsection('Documentacion',\n  link('https://github.com/anthropics/claude-code/issues', 'GitHub issues', 'Reportar bugs / pedir features') +\n  '<div style=\"background:white;padding:12px;border-radius:6px;font-size:13px;color:#6b7280\">Knowledge base local en <code>studio-multiagente/knowledge/</code></div>'\n) +\n\n'<p style=\"color:#94a3b8;font-size:11px;margin-top:32px;text-align:center\">Esta es la pagina de inicio del admin. Todos los enlaces usan tu cookie/header X-API-Key automaticamente.</p>' +\n'</body></html>';\nreturn [{ json: { html: html } }];"
      }
    },
    {
      "id": "ai-04",
      "name": "Respond HTML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [20, 300],
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "text/html; charset=utf-8" },
              { "name": "X-Frame-Options", "value": "DENY" },
              { "name": "X-Content-Type-Options", "value": "nosniff" },
              { "name": "Cache-Control", "value": "no-store" }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook GET":  { "main": [[{ "node": "Quick Stats",  "type": "main", "index": 0 }]] },
    "Quick Stats":  { "main": [[{ "node": "Build HTML",   "type": "main", "index": 0 }]] },
    "Build HTML":   { "main": [[{ "node": "Respond HTML", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "qfQWaGSpyjgdeFt5"
  }
}
