studio-multiagente/workflows/util_notification.json
{
  "name": "util_notification",
  "nodes": [
    {
      "parameters": {
        "inputSource": "defineBelow",
        "workflowInputs": {
          "values": [
            { "name": "project_id",  "type": "string" },
            { "name": "type",        "type": "string" },
            { "name": "subject",     "type": "string" },
            { "name": "message",     "type": "string" },
            { "name": "approval_id", "type": "string" },
            { "name": "recipient",   "type": "string" }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "id": "b1c2d3e4-f5a6-4b7c-8d9e-000000000001",
      "name": "Receive Notification Request"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT name FROM projects WHERE id = $1::uuid",
        "options": {
          "queryReplacement": "={{ [$json.project_id] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "PLACEHOLDER",
          "name": "Supabase Postgres"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [500, 300],
      "id": "b1c2d3e4-f5a6-4b7c-8d9e-000000000002",
      "name": "Load Project Name"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.first().json;\nconst trigger = $('Receive Notification Request').first().json;\n\nconst projectName = input.name || 'Proyecto sin nombre';\nconst type        = trigger.type        || 'info';\nconst subject     = trigger.subject     || 'Notificación del sistema';\nconst message     = trigger.message     || '';\nconst approvalId  = trigger.approval_id || null;\nconst recipient   = trigger.recipient   || 'arquitecto@estudio.com';\nconst projectId   = trigger.project_id  || '';\n\n// URL base de n8n para los webhooks de aprobación\nconst N8N_BASE_URL = 'https://n8n-n8n.zzeluw.easypanel.host';\n\nlet htmlBody = '';\nlet plainText = '';\n\nif (type === 'approval_request' && approvalId) {\n  const approveUrl = `${N8N_BASE_URL}/webhook/approval?action=approve&approval_id=${approvalId}&project_id=${projectId}`;\n  const rejectUrl  = `${N8N_BASE_URL}/webhook/approval?action=reject&approval_id=${approvalId}&project_id=${projectId}`;\n\n  htmlBody = `\n    <div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n      <h2 style=\"color: #2c3e50;\">Studio AI — Revisión requerida</h2>\n      <h3 style=\"color: #7f8c8d;\">Proyecto: ${projectName}</h3>\n      <p>${message}</p>\n      <div style=\"margin: 30px 0;\">\n        <a href=\"${approveUrl}\" style=\"background-color: #27ae60; color: white; padding: 12px 24px; text-decoration: none; border-radius: 4px; margin-right: 16px;\">✅ Aprobar</a>\n        <a href=\"${rejectUrl}\" style=\"background-color: #e74c3c; color: white; padding: 12px 24px; text-decoration: none; border-radius: 4px;\">❌ Rechazar</a>\n      </div>\n      <p style=\"color: #95a5a6; font-size: 12px;\">Este enlace expira en 72 horas.</p>\n    </div>\n  `;\n  plainText = `Revisión requerida — ${projectName}\\n\\n${message}\\n\\nAprobar: ${approveUrl}\\nRechazar: ${rejectUrl}`;\n\n} else if (type === 'alert') {\n  htmlBody = `\n    <div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n      <h2 style=\"color: #e74c3c;\">⚠️ Studio AI — Alerta</h2>\n      <h3 style=\"color: #7f8c8d;\">Proyecto: ${projectName}</h3>\n      <p>${message}</p>\n      <p style=\"color: #95a5a6; font-size: 12px;\">Sistema multiagente — ${new Date().toLocaleString('es-ES')}</p>\n    </div>\n  `;\n  plainText = `ALERTA — ${projectName}\\n\\n${message}`;\n\n} else {\n  // type = 'info'\n  htmlBody = `\n    <div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n      <h2 style=\"color: #2c3e50;\">Studio AI — Notificación</h2>\n      <h3 style=\"color: #7f8c8d;\">Proyecto: ${projectName}</h3>\n      <p>${message}</p>\n      <p style=\"color: #95a5a6; font-size: 12px;\">Sistema multiagente — ${new Date().toLocaleString('es-ES')}</p>\n    </div>\n  `;\n  plainText = `Notificación — ${projectName}\\n\\n${message}`;\n}\n\nreturn [{\n  json: {\n    to:           recipient,\n    subject:      `[Studio AI] ${subject} — ${projectName}`,\n    html_body:    htmlBody,\n    plain_text:   plainText,\n    project_id:   projectId,\n    project_name: projectName,\n    type:         type,\n    approval_id:  approvalId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300],
      "id": "b1c2d3e4-f5a6-4b7c-8d9e-000000000003",
      "name": "Build Notification Content"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html_body }}",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "PLACEHOLDER",
          "name": "Gmail DamianDomeya@"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1000, 300],
      "id": "b1c2d3e4-f5a6-4b7c-8d9e-000000000004",
      "name": "Send Email"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO activity_log (project_id, agent_name, action, status, output_summary) VALUES ($1::uuid, 'util_notification', 'email_sent', 'success', $2)",
        "options": {
          "queryReplacement": "={{ [$json.project_id === '' ? null : $json.project_id, $json.subject] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "PLACEHOLDER",
          "name": "Supabase Postgres"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1250, 300],
      "id": "b1c2d3e4-f5a6-4b7c-8d9e-000000000005",
      "name": "Log Notification"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "b1c2d3e4-f5a6-4b7c-8d9e-000000000061",
              "name": "status",
              "value": "sent",
              "type": "string"
            },
            {
              "id": "b1c2d3e4-f5a6-4b7c-8d9e-000000000062",
              "name": "channel",
              "value": "email",
              "type": "string"
            },
            {
              "id": "b1c2d3e4-f5a6-4b7c-8d9e-000000000063",
              "name": "recipient",
              "value": "={{ $('Build Notification Content').first().json.to }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1500, 300],
      "id": "b1c2d3e4-f5a6-4b7c-8d9e-000000000006",
      "name": "Return Result"
    }
  ],
  "connections": {
    "Receive Notification Request": {
      "main": [
        [{ "node": "Load Project Name", "type": "main", "index": 0 }]
      ]
    },
    "Load Project Name": {
      "main": [
        [{ "node": "Build Notification Content", "type": "main", "index": 0 }]
      ]
    },
    "Build Notification Content": {
      "main": [
        [{ "node": "Send Email", "type": "main", "index": 0 }]
      ]
    },
    "Send Email": {
      "main": [
        [{ "node": "Log Notification", "type": "main", "index": 0 }]
      ]
    },
    "Log Notification": {
      "main": [
        [{ "node": "Return Result", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
