studio-multiagente/workflows/util_admin_project_view_html.json
{
  "name": "util_admin_project_view_html",
  "nodes": [
    {
      "id": "pv-01",
      "name": "Webhook GET",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-700, 300],
      "parameters": {
        "httpMethod": "GET",
        "path": "admin-project",
        "responseMode": "responseNode",
        "authentication": "headerAuth"
      },
      "credentials": { "httpHeaderAuth": { "id": "Ba643jvuElTgMawr", "name": "Webhook API Key (entrante)" } },
      "webhookId": "pv-trigger"
    },
    {
      "id": "pv-02",
      "name": "Validate Param",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-460, 300],
      "parameters": {
        "jsCode": "const q = ($input.first().json.query) || {};\nconst pid = (q.project_id || '').trim();\nif (!/^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i.test(pid)) {\n  return [{ json: { valid:false, html: '<!DOCTYPE html><html><body style=\"font-family:Arial;max-width:600px;margin:48px auto;padding:24px\"><h1>Falta project_id</h1><p>Uso: <code>/webhook/admin-project?project_id=&lt;uuid&gt;</code></p></body></html>' } }];\n}\nreturn [{ json: { valid:true, project_id: pid } }];"
      }
    },
    {
      "id": "pv-03",
      "name": "Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-220, 300],
      "parameters": {
        "conditions": {
          "options": { "version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "loose" },
          "combinator": "and",
          "conditions": [
            { "id": "v1", "leftValue": "={{ $json.valid }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true", "singleValue": true } }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "pv-04",
      "name": "Load Snapshot",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [20, 220],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT json_build_object(\n  'project',       (SELECT row_to_json(p) FROM projects p WHERE p.id = $1::uuid),\n  'client',        (SELECT json_build_object('id', c.id, 'name', c.name, 'email', pii_decrypt(c.email_enc), 'phone', pii_decrypt(c.phone_enc)) FROM clients c WHERE c.id = (SELECT client_id FROM projects WHERE id = $1::uuid)),\n  'briefing',      (SELECT row_to_json(b) FROM briefings b WHERE b.project_id = $1::uuid AND b.status='approved' ORDER BY b.version DESC LIMIT 1),\n  'design',        (SELECT row_to_json(d) FROM design_options d WHERE d.project_id = $1::uuid AND d.is_selected = true LIMIT 1),\n  'cost_estimate', (SELECT row_to_json(ce) FROM cost_estimates ce WHERE ce.project_id = $1::uuid ORDER BY ce.version DESC LIMIT 1),\n  'invoices',      (SELECT json_agg(t.* ORDER BY t.invoice_date DESC NULLS LAST) FROM (SELECT id, supplier_name, invoice_date, total_amount, status FROM invoices WHERE project_id = $1::uuid) t),\n  'invoices_total',(SELECT COALESCE(round(sum(total_amount)::numeric, 2), 0) FROM invoices WHERE project_id = $1::uuid AND status IN ('paid','approved')),\n  'permits',       (SELECT json_agg(t.*) FROM (SELECT id, application_type, entity, status, expediente_id FROM permit_applications WHERE project_id = $1::uuid) t),\n  'aftercare',     (SELECT json_agg(t.*) FROM (SELECT id, severity, status, category, LEFT(description, 100) AS preview, reported_at FROM aftercare_incidents WHERE project_id = $1::uuid ORDER BY reported_at DESC) t),\n  'pathology',     (SELECT json_agg(t.*) FROM (SELECT id, pathology_type, severity, status FROM pathology_findings WHERE project_id = $1::uuid AND status NOT IN ('repaired','dismissed')) t),\n  'regulatory',    (SELECT json_agg(t.*) FROM (SELECT id, task_type, title, status, priority FROM regulatory_tasks WHERE project_id = $1::uuid ORDER BY CASE priority WHEN 'critical' THEN 0 WHEN 'high' THEN 1 WHEN 'medium' THEN 2 ELSE 3 END) t),\n  'contracts',     (SELECT json_agg(t.*) FROM (SELECT id, contract_type, status, signed_at, expires_at FROM contracts WHERE project_id = $1::uuid ORDER BY created_at DESC) t),\n  'agent_executions_total', (SELECT count(*) FROM agent_executions WHERE project_id = $1::uuid),\n  'agent_executions_failed',(SELECT count(*) FROM agent_executions WHERE project_id = $1::uuid AND status='failed'),\n  'llm_cost_total', COALESCE(round((SELECT sum(cost_usd) FROM llm_calls WHERE project_id = $1::uuid)::numeric, 4), 0),\n  'llm_calls_total', (SELECT count(*) FROM llm_calls WHERE project_id = $1::uuid),\n  'tokens_active', (SELECT count(*) FROM client_access_tokens WHERE project_id = $1::uuid AND revoked_at IS NULL AND (expires_at IS NULL OR expires_at > now())),\n  'consultations_pending', (SELECT count(*) FROM consultation_queue WHERE project_id = $1::uuid AND status='pending'),\n  'notes', (SELECT json_agg(t.* ORDER BY t.pinned DESC, t.created_at DESC) FROM (SELECT id, body, category, pinned, created_at FROM project_notes WHERE project_id = $1::uuid) t)\n) AS snapshot;",
        "options": { "queryReplacement": "={{ [ $json.project_id ] }}" }
      },
      "credentials": { "postgres": { "id": "cfxNZdzy0NB3xkYC", "name": "Postgres account" } }
    },
    {
      "id": "pv-05",
      "name": "Build HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 220],
      "parameters": {
        "jsCode": "const s = $input.first().json.snapshot || {};\nconst p = s.project || {};\nconst c = s.client || {};\nconst b = s.briefing || {};\nconst d = s.design || {};\nconst ce = s.cost_estimate || {};\nconst inv = s.invoices || [];\nconst permits = s.permits || [];\nconst aftercare = s.aftercare || [];\nconst paths = s.pathology || [];\nconst reg = s.regulatory || [];\nconst contracts = s.contracts || [];\nconst notes = s.notes || [];\nconst sevColor = { critical: '#7f1d1d', high: '#dc2626', medium: '#ea580c', low: '#10b981' };\nconst card = (label, value, unit) => '<div style=\"background:#f9fafb;padding:12px;border-radius:6px;flex:1;min-width:130px\"><div style=\"font-size:10px;color:#6b7280;text-transform:uppercase\">'+label+'</div><div style=\"font-size:20px;font-weight:bold;color:#1f2937;margin-top:4px\">'+(value!=null?value:'-')+(unit?'<span style=\"font-size:11px;color:#6b7280\"> '+unit+'</span>':'')+'</div></div>';\nconst row = (cells) => '<tr>'+cells.map(c=>'<td style=\"padding:6px 8px;border-bottom:1px solid #eee;font-size:12px\">'+c+'</td>').join('')+'</tr>';\nconst section = (title, body) => '<h2 style=\"color:#374151;font-size:15px;margin:20px 0 8px\">'+title+'</h2>'+body;\nconst sevBadge = sev => '<span style=\"background:'+(sevColor[sev]||'#6b7280')+';color:white;padding:1px 6px;border-radius:3px;font-size:10px\">'+(sev||'?').toUpperCase()+'</span>';\nconst tbl = (headers, rows) => '<table style=\"width:100%;background:white;border-collapse:collapse\"><thead style=\"background:#1f2937;color:white\"><tr>'+headers.map(h=>'<th style=\"padding:8px;text-align:left;font-size:11px\">'+h+'</th>').join('')+'</tr></thead><tbody>'+(rows.length>0?rows.join(''):row(headers.map(()=>'<i style=\"color:#6b7280\">vacio</i>')))+'</tbody></table>';\nif (!p.id) {\n  const html = '<!DOCTYPE html><html><body style=\"font-family:Arial;max-width:600px;margin:48px auto;padding:24px\"><h1>Proyecto no encontrado</h1></body></html>';\n  return [{ json: { html } }];\n}\nconst html = '<!DOCTYPE html><html lang=\"es\"><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"><title>'+(p.name||'?')+' — admin view</title>' +\n'<style>body{font-family:-apple-system,Arial,sans-serif;max-width:1100px;margin:24px auto;padding:16px;color:#1f2937;background:#f3f4f6}h1{color:#0f172a;margin:0 0 4px}.cards{display:flex;gap:10px;flex-wrap:wrap;margin:12px 0}.meta{color:#64748b;font-size:13px}</style>' +\n'</head><body>' +\n'<a href=\"/webhook/admin-index\" style=\"color:#2563eb;font-size:13px;text-decoration:none\">← Admin index</a>' +\n'<h1>'+(p.name||'(sin nombre)')+'</h1>' +\n'<div class=\"meta\">' + (p.project_type||'?')+' • ' + (p.property_type||'?') + ' ' + (p.property_area_m2||'?') + 'm² • ' + (p.location_city||'?') + ' • fase: <code>'+(p.current_phase||'?')+'</code> • cliente: <b>'+(c.name||'?')+'</b></div>' +\n'<div class=\"cards\" style=\"margin-top:16px\">' +\n  card('Budget', Number(p.budget_target||0).toLocaleString('es-ES'), 'EUR') +\n  card('Estimado', Number(ce.total_estimated||0).toLocaleString('es-ES'), 'EUR') +\n  card('Facturado', Number(s.invoices_total||0).toLocaleString('es-ES'), 'EUR') +\n  card('LLM cost', s.llm_cost_total||0, 'USD') +\n  card('Calls', s.llm_calls_total||0) +\n  card('Failed', s.agent_executions_failed||0) +\n  card('Tokens', s.tokens_active||0) +\n  card('Consultas', s.consultations_pending||0) +\n'</div>' +\n\nsection('Notas del arquitecto ('+notes.length+')', notes.length>0 ? '<ul style=\"background:white;padding:14px;border-radius:6px;list-style:none;margin:0\">' + notes.slice(0,15).map(n => '<li style=\"padding:8px;border-bottom:1px solid #eee\"><span style=\"background:'+(n.pinned?'#fbbf24':'#e5e7eb')+';color:'+(n.pinned?'#78350f':'#374151')+';padding:1px 8px;border-radius:3px;font-size:10px;text-transform:uppercase;margin-right:6px\">'+(n.pinned?'PIN':'')+(n.category||'general').slice(0,12)+'</span>'+(n.body||'')+'<div style=\"font-size:11px;color:#9ca3af;margin-top:4px\">'+new Date(n.created_at).toISOString().slice(0,10)+'</div></li>').join('') + '</ul>' : '<i style=\"color:#6b7280\">sin notas. Crear via POST /webhook/admin-note</i>') +\n\nsection('Cliente', '<div style=\"background:white;padding:12px;border-radius:6px;font-size:13px\">Nombre: <b>'+(c.name||'?')+'</b><br>Email: <code>'+(c.email||'-')+'</code><br>Telefono: '+(c.phone||'-')+'</div>') +\n\nsection('Briefing', b.summary ? '<div style=\"background:white;padding:12px;border-radius:6px\"><p>'+(b.summary||'')+'</p><div style=\"font-size:12px;color:#6b7280;margin-top:8px\">version '+(b.version||1)+' • '+(b.status||'?')+'</div></div>' : '<i style=\"color:#6b7280\">sin briefing aprobado</i>') +\n\nsection('Diseno seleccionado', d.title ? '<div style=\"background:white;padding:12px;border-radius:6px\"><b>Opcion '+(d.option_number||'?')+':</b> '+d.title+'<br><div style=\"color:#374151;font-size:13px;margin-top:6px\">'+(d.description||'').substring(0,300)+'</div></div>' : '<i style=\"color:#6b7280\">no seleccionado</i>') +\n\nsection('Tramites administrativos ('+reg.length+')',\n  tbl(['Tipo','Titulo','Status','Prioridad'], reg.map(r => row([r.task_type||'-', (r.title||'').slice(0,60), '<code>'+(r.status||'-')+'</code>', sevBadge(r.priority)])))\n) +\n\nsection('Permits ('+permits.length+')',\n  tbl(['Tipo','Entidad','Status','Expediente'], permits.map(pe => row([pe.application_type||'-', pe.entity||'-', '<code>'+(pe.status||'-')+'</code>', pe.expediente_id||'-'])))\n) +\n\nsection('Patologias ('+paths.length+')',\n  tbl(['Tipo','Severidad','Status'], paths.map(pa => row([pa.pathology_type||'-', sevBadge(pa.severity), '<code>'+(pa.status||'-')+'</code>'])))\n) +\n\nsection('Aftercare/postventa ('+aftercare.length+')',\n  tbl(['Cuando','Severidad','Categoria','Status','Preview'], aftercare.slice(0,10).map(a => row([(a.reported_at||'').slice(0,10), sevBadge(a.severity), a.category||'-', '<code>'+(a.status||'-')+'</code>', a.preview||'-'])))\n) +\n\nsection('Contratos ('+contracts.length+')',\n  tbl(['Tipo','Status','Firmado','Expira'], contracts.map(c => row([c.contract_type||'-', '<code>'+(c.status||'-')+'</code>', (c.signed_at||'').slice(0,10), (c.expires_at||'').slice(0,10)])))\n) +\n\nsection('Facturas ('+inv.length+')',\n  tbl(['Proveedor','Fecha','Total','Status'], inv.slice(0,15).map(i => row([i.supplier_name||'-', (i.invoice_date||'').slice(0,10), Number(i.total_amount||0).toLocaleString('es-ES')+' EUR', '<code>'+(i.status||'-')+'</code>'])))\n) +\n\n'<p style=\"color:#94a3b8;font-size:11px;margin-top:32px;text-align:center\">project_id: <code>'+p.id+'</code></p>' +\n'</body></html>';\nreturn [{ json: { html } }];"
      }
    },
    {
      "id": "pv-06",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [500, 220],
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "text/html; charset=utf-8" },
              { "name": "X-Frame-Options", "value": "DENY" },
              { "name": "Cache-Control", "value": "no-store" }
            ]
          }
        }
      }
    },
    {
      "id": "pv-07",
      "name": "Respond Bad",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [20, 420],
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": { "entries": [{ "name": "Content-Type", "value": "text/html; charset=utf-8" }] }
        }
      }
    }
  ],
  "connections": {
    "Webhook GET":     { "main": [[{ "node": "Validate Param", "type": "main", "index": 0 }]] },
    "Validate Param":  { "main": [[{ "node": "Valid?",         "type": "main", "index": 0 }]] },
    "Valid?":          {
      "main": [
        [{ "node": "Load Snapshot", "type": "main", "index": 0 }],
        [{ "node": "Respond Bad",   "type": "main", "index": 0 }]
      ]
    },
    "Load Snapshot":   { "main": [[{ "node": "Build HTML",     "type": "main", "index": 0 }]] },
    "Build HTML":      { "main": [[{ "node": "Respond OK",     "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "qfQWaGSpyjgdeFt5"
  }
}
